/*Dev Mannan: CSS Starts*/

.punjab{
    background-color: #6B5B95;
}
.sindh{
    background-color: #DD4132;
}
.kpk{
    background-color: #9E1030;
}
.balo{
    background-color: #FE840E;
}
.federal{
    background-color: #FF6F61;
}
.fata{
    background-color: #C62168;
}
.azad{
    background-color: #8D9440;
}
.gilgit{
    background-color: #FFD662;
}
.prov-main{
    display: inline-block;
    width: 15px;
    height: 15px;
}
.cus-div{
    float: left;
    margin: 10px 0px;
}
.mar-top{
    margin-top: 5px;
}
.boot-btn {
    border: none;
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}
.boot-btn.success {background-color: #4CAF50;} /* Green */
.boot-btn.success:hover {background-color: #46a049;}
.boot-btn.danger {background-color: #f44336;} /* Red */ 
.boot-btn.danger:hover {background: #da190b;}
.clr-rej{
    color: #FF0000;
}
.verified{
    color: #4CAF50;

}
.verify-it, .reject-it, .verify-it:hover, .reject-it:hover{
    color: #fff;
    margin-top: 10px; 

}
.app-search-grid td, .app-search-grid th {
    vertical-align: middle !important;
    text-align: center;
}
.flt-none{
    float: none;
}
.table-head{
    background-color: #1ab394;
    color: #fff;
}
.Rejected, .color-red{
    color: red;
}
.Approved{
    color: green;
}
.total-records{
    text-align: right;
    line-height: 0em;
    color: #1ab394;
    font-weight: bold;
    font-size: 15px;
}
.algn-left {
    text-align: left !important;
}
.srn{
    max-width: 15px;
}
.frm{
   max-width: 20px;
}
.cni{
    max-width: 30px;
}
.app{
    max-width: 50px;
}
.sta{
    max-width: 30px;
}
.doc{
    max-width: 30px;
}
.rno{
    max-width: 30px;
}
.top-listing{
    width: 60%;
    margin: 0 auto;
    padding: 20px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.top-listing tr{
    border: 1px solid #1ab394 !important;
}
.first-appli{
    background-color: #1ab394;
    color: #fff;
}
.top-listing td:nth-of-type(1) {
    min-width: 30px;
    max-width: 30px;
}
.top-listing td:nth-of-type(2) {
    min-width: 260px;
    max-width: 260px;
}
.top-listing td:nth-of-type(3) {
    min-width: 200px;
    max-width: 200px;
    text-align: center;
}
.top-listing td:nth-of-type(4) {
    min-width: 200px;
    max-width: 200px;
    text-align: center;
}
.top-listing td:nth-of-type(5) {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
.top-listing td:nth-of-type(6) {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
.top-listing td:nth-of-type(7) {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
.btreport-head th, .btreport-head td{
    padding: 5px 25px 0px 5px !important;

}
.lft-algn {
    text-align: left !important;
}
.dpstat-sm {
    font-size: 12px !important;
}
.top-btn{
    color: #fff;
    background-color: #1ab394;
}
ul#sidemenu > li {
    border-bottom: 1px solid #e7eaec !important;
}
.app_status {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.app_status span {
    color: #e40400;
    font-size: 16px;
    padding: 0px 10px 0px 5px;
}
.admin-details b{
    font-weight: 900;
}
.btn-log{
    border: solid 1px #1ab394;
    background: #1ab394;
    color: #fff;
    padding: 4px 4px;
}
.print-link{
    float: right;
}
.algn-cntr{
    text-align: center;
}
.cntred-div{
    margin: 0 auto;
    float: none;
}
.mar-btm{
    margin-bottom: 20px;
}
.custom-hr{
    margin-bottom: 0px;
}
.br-color{
    background-color: #706f74 !important;
}
.algn-two {
    text-align: right;
}

.algn-one {
    text-align: left;
}
.algn-three {
    text-align: center;
}
g.highcharts-legend-item.highcharts-column-series.highcharts-color-undefined.highcharts-series-0{
    display: none !important;
}
.mt5 .col-md-4 {
    text-align: right;
}
.tbl-bg-clr {
    background-color: #4fb494;
    color: #fff;
}

.section-gr{
    border: 1px solid #4fb494;
    margin: 10px;
    padding: 10px;
}
#btn-logout {
    background-color: #1ab394;
    border:none;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
}
.program-stats-tbl tr th {
    width: 100%;
    text-align: center;
}
#appSearching .sbox-tools{
    float: left;
}
.bg-bl {
    background-color: #84BCDA;
    color: #fff;
}
.bg-clr-top tr, .bg-clr-top tr:hover{
    background-color: #0B3954 !important;
    color: #fff !important;
}
.bg-gr {
    background-color: #067BC2;
    color: #fff;
}
.up-clr{
    background-color: #1ab394;
    color: #fff;
}
.dwn-clr{
    background-color: #da4b49;
    color: #fff;
}

.bg-or {
    background-color: #efbf69;
    color: #fff;
    font-weight: bold;
}
.cls-wd {
    text-align: center;
}
.fee-clr, .fee-clr:hover{
    background-color: #1A535C !important;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.bor-head {
    border: 1px solid #ddd;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer;
}
.more-less {
    color: #fff !important;
    margin: 5px;
    position: absolute;
    right: 60px;
    margin-top: 12px;
}
.morr-lss{
    color: #000000 !important;
    margin: 5px;
    position: inherit;
    right: auto;
    margin-top: 0px;
}
.prog-dep{
    text-align: center;
    background-color: #ddd;
    margin: 0px;
    padding: 10px;
}
.table-stat{
    margin-bottom: 0px;
}
.cus-ttf td:nth-of-type(1){
    width: 22%;
}
.cus-ttf td:nth-of-type(2){
    width: 6.5%;
}
.cus-ttf td:nth-of-type(3){
    width: 6.5%;
}
.cus-ttf td:nth-of-type(4){
    width: 6.5%;
}
.cus-ttf td:nth-of-type(5){
    width: 6.5%;
}
.cus-ttf td:nth-of-type(6){
    width: 6.5%;
}
.cus-ttf td:nth-of-type(7){
    width: 6.5%;
}
.cus-ttf td:nth-of-type(8){
    width: 6.5%;
}
.cus-ttf td:nth-of-type(9){
    width: 6.5%;
}
.cus-ttf td:nth-of-type(10){
    width: 6%;
}
.cus-ttf td:nth-of-type(11){
    width: 6%;
}
.cus-ttf td:nth-of-type(12){
    width: 6%;
}
.cus-ttf td:nth-of-type(13){
    width: 6%;
}
.ttp-tbr td:nth-of-type(1){
    width: 22%;
}
.ttp-tbr td:nth-of-type(2){
    width: 13%;
}
.ttp-tbr td:nth-of-type(3){
    width: 13%;
}
.ttp-tbr td:nth-of-type(4){
    width: 13%;
}
.ttp-tbr td:nth-of-type(5){
    width: 13%;
}
.ttp-tbr td:nth-of-type(6){
    width: 6%;
}
.ttp-tbr td:nth-of-type(7){
    width: 6%;
}
.ttp-tbr td:nth-of-type(8){
    width: 6%;
}
.ttp-tbr td:nth-of-type(9){
    width: 6%;
}
.ttp-tbr td{
    text-align: center;
}
.diff{
    text-align: center;
}
.my-fn {
    float: right;
    cursor: pointer;
}
.flt-lft{
    float: left;
}
.flt-rgt{
    float: right;
}
.appli-search th:nth-of-type(1), .appli-search td:nth-of-type(1){
    width: 3%;
}
.appli-search th:nth-of-type(2), .appli-search td:nth-of-type(2){
    width: 8%;
}
.appli-search th:nth-of-type(3), .appli-search td:nth-of-type(3){
    width: 15%;
}
.appli-search th:nth-of-type(4), .appli-search td:nth-of-type(4){
    width: 10%;
}
.appli-search th:nth-of-type(5), .appli-search td:nth-of-type(5){
    width: 17%;
}
.appli-search th:nth-of-type(6), .appli-search td:nth-of-type(6){
    width: 5%;
}
.appli-search th:nth-of-type(7), .appli-search td:nth-of-type(7){
    width: 7%;
}
.appli-search th:nth-of-type(8), .appli-search td:nth-of-type(8){
    width: 20%;
}
.appli-search th:nth-of-type(9), .appli-search td:nth-of-type(9){
    width: 15%;
}
.hvr-clr:hover{
    background-color: #1ab394;
    color: #fff;
}
.bt-shift{
    padding: 5px;
    color: #fff;
    background-color: #1ab394;
    border-color: #1ab394;
    border-radius: 4px;
}
#faculty-cls {
    border-top: 2px solid #4eb494;
}
.side-cus-cls{
    overflow-y: scroll;
    position: fixed;
}
.print-renew a{
    padding: 2px 5px !important;
}
.clr-two{
    background-color: #3c8dbc !important;
}
.clr-three{
    background-color: #dd4b39 !important;
    border: solid 1px #dd4b39 !important;
}
.squeeze {
    width: 33%;
    float: left;
    min-height: 150px;
    border: 1px solid #ddd;
    padding: 10px;
}
.audit-report th:nth-of-type(1), .audit-report td:nth-of-type(1) {
    width: 4%;
}
.audit-report th:nth-of-type(2), .audit-report td:nth-of-type(2)  {
    width: 56%;
}
.audit-report th:nth-of-type(3), .audit-report td:nth-of-type(3)  {
    width: 40%;
}
.fac-clr, .dep-clr, .pro-clr{
    text-align: left !important;
}
.fac-clr{
    color: #FF0000;
    /* font-size: 20px !important; */
}
.dep-clr{
    color: #33FF42;
    /* font-size: 18px !important; */
}
.pro-clr{
    color: #3374FF;
    /* font-size: 15px !important; */
}
#shashky.dataTable.nowrap th, table.dataTable.nowrap td{
    white-space: break-spaces !important;
}
.mr-tp-zero form, .sigma-btn{
    margin-top: 0px !important;
}
.log-div-quali{
    max-width: 50%;
    min-width: 50%;
    float: left;
}
/*Dev Mannan: CSS Ends*/

/*********************************************************************/

/*CSS By Junaid Start*/

.flotLegend {
    margin-bottom: 10px; 
}
.flotLegend table tr td {
    padding-right: 5px;
}

.row-stat .panel .panel-heading {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.panel-icon {
    background: rgba(255,255,255,0.9);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 15px;
}

.panel-icon .fa {
    color: #000;
    font-size: 36px;
    padding: 12px 0 0 19px;
}

.panel-bluegreen .panel-icon .fa {
    color: #03c3c4;
}

.panel-violet .panel-icon .fa {
    color: #905dd1;
}

.panel-blue .panel-icon .fa {
    color: #428bca;
}

.row-stat .md-title {
    opacity: 0.6;
    font-size: 12px;
    margin-bottom: 5px;
}

.row-stat h1 {
    margin-bottom: 0;
}

.row-stat hr {
    opacity: 0.3;
    margin: 15px 0 0 0;
    border-width: 2px;
}

.panel-icon .fa-users {
    padding: 12px 0 0 10px;
}

.panel-icon .fa-pencil {
    padding: 12px 0 0 17px;
}

.sublabel {
    font-size: 11px;
    display: block;
    margin-bottom: 3px;
}

.flotChart {
    width: 100%;
    height: 200px;
}

#bar-chart {
    height: 250px;
}

.nomargin { margin: 0; }
.noborder { border: 0; }
.mt0 { margin-top: 0 !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt20 { margin-top: 20px !important; }
.mr10 { margin-right: 10px !important; }
.mr20 { margin-right: 20px !important; }
.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr30 { margin-right: 30px !important; }
.mb5 { margin-bottom: 5px; }
.mb8 { margin-bottom: 8px; }
.mb9 { margin-bottom: 9px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.md-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
}
.panel-dark {
    border-color: #4e5154;
}

.panel-dark .panel-heading {
    background-color: #4e5154;
    color: #fff;
}

.panel-success-alt {
    border-color: #4cae4c;
}

.panel-success-alt .panel-heading {
    background-color: #5cb85c;
    color: #fff;
}

/*CSS By Junaid End*/


/** Author: Khurram  */
.left-align {
    text-align:left !important;
}

.fee-already-verified {
    background-color: #1ab394;
    color: #fff;
    display:inline-block;
    padding: 2px 10px;
}

.fee-not-verified {
    background-color: red;
    color: #fff;
    padding: 5px 15px;
}

.unverified-fee {
    background-color: #0072ff;
    color: #fff;
    padding: 5px 15px;
}

.varified-page-filter-form, .verified-export-to-csv-btn {
    display: inline-block;
}

.varified-page-filter-form input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    width: 250px;
    margin-right:10px;
    border-radius: 2px;
}

.filter-and-export {
    padding: 10px;
    /*border-bottom: 1px solid #ccc;*/
}

.varified-page-filter-form input[type="submit"] {
    padding: 3px;
    /*margin-top: 10px;*/
}

.reports-table thead tr:first-of-type {
    background-color: #dcdcdc;
}

#faculty-list, #nationality-list, #faculty, #department, #programme, #unverified-verified-filter, #semester-list, #result-semesterSelector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    background-color: #fff;
}

#get-report-btn, #get-docs-verification-records {
    padding: 5px;
    color: #fff;
    background-color: #1ab394;
    border-color: #1ab394;
    border-radius: 4px;
}

#application-ids-textbox {
    height:175px;
}

.incomplete-application-verification-message {
    color: red;
    font-size: 10px;
}

#application-numbers-form {
    width: 70%;
    margin-right: 20px;
}
#upload-csv-form {
    width: 18%;
}

#application-numbers-form, #upload-csv-form {
    display:inline-block;
    vertical-align: top;
}

.applicatoins-verified-relist {
    color: #087350;
}

#document-verification-from,
#docs-verification-export {
    display:inline-block;
}

#current-selected-filters-heading {
    color: #000;
}

.reports-form button[type="submit"] {
    background-color: #1bb394;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 0px 5px;
}

.single-result-manage {
    margin: 5px 0;
}

.single-result-manage p {
    font-size: 15px;
}

.single-result-manage .manage-published {
    font-size: 12px;
    color: #888282;
}

.manage-results-page-section form {
    margin-top: 10px;
}

.manage-results-page-section form select {
    padding-top: 8px !important;
}

.manage-results-page-section form button[type="submit"] {
    margin-top: -5px;
}

#stats-comparison-heading {
    padding: 5px;
    background-color: #fff;
    margin-top: 0;
}

.stats-comparison-single-feature {
    border: 1px solid #ccc;
    margin-top: 3px;
    padding: 10px;
    background-color: #fff;
}

.stats-comparison-feature-heading {
    font-weight: bold;
    background-color: #1ab394;
    color: #fff;
}

span.green {
    color: green;
}

span.red {
    color: red;
}

#application-challan-modify-print a {
    margin: 2px 0;
}

/*.single-merit-list {
    display:inline-block;
    background-color: #d0d8d6;
    padding: 15px;
    margin: 5px;
    width: 400px;
    max-width: 400px;
    overflwo:scroll;
    border-radius: 4px;
}

.single-merit-list li {
    list-style-type : none;
    font-size: 14px;
    font-weight: bold;
}

.merit-listing-container {
    text-align:center;
}*/

.recent-merit-listing {
    font-size: 14px;
    padding: 0;
}

.recent-merit-listing li {
    list-style-type: none;
}

.single-merit-list {
    background-color: #d0d8d6;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 4px;
}

.fff, .fff:visited {
    color: #fff;
}

.table-program-column {
    width: 300px;
    max-width: 300px;
}

.top-level-report-heading {
    font-family: sans-serif;
}

.top-level-report-table tr th, .top-level-report-table tr td {
    font-size: 16px;
    font-family: sans-serif;
}

 
.page-title {
  background-color: #51b394;
  color: #fff;
  border-radius: 4px;
  padding: 10px 5px;
  margin-bottom: 10px;
}

.page-title h3 {
    margin: 0;
}

.m3 { margin: 3px; }
/** End Author: Khurram */
.bt-pre-stat{
    float: right;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
    color: #337ab7 !important;
}
.pd-mney{
    padding-left: 12px !important;
}
