.container {
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	clear:both;
	/*text-align:center;*/
}

.print-button button {
	padding: 10px;
	float: right;
	background-color: #ddd;
	border: 1px solid #ccc;
	border-radius: 2px;
	cursor: pointer;
	margin-left: 5px;
}

.right {
	float: right;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.container .single-column {
	width: 295px !important;
	border: 1px dotted #ccc;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	text-align: left;
	font-size: 13px;
	line-height: 25px;
}

.bank-title {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.dues-challan, .security-challan {
	text-align: center;
}

.security-challan {
	page-break-before: always;
}

.fee-distribution-table {
	width: 100%;
	border-spacing: 0;
	padding: 2px 2px 0 2px;
}
.fee-distribution-table {
	border: 1px solid #ccc;
}
.fee-distribution-table td {
	border-bottom: 1px solid #ccc;
}

.border-left {
	border-left: 1px solid #ccc;
	text-align: center;
}

.copy-owner {
	margin-top: 50px; 
	text-align: center; 
}
.copy-owner .copy {
	font-weight: bold;
	font-size: 16px;
}

@media print {
	@page { size: landscape; }
}

.right-align {
	text-align: right;
}

table thead th {
	border-bottom: 1px solid #ccc;
}

.print-and-download-container button {
  padding: 10px;
  float: right;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 5px;
}

.header-image {
	width: 100%;
}

.bank-logo-container {
	text-align: center;
}

.bank-logo-container img {
	height: 30px;
	margin-top: -10px;
}

.fixed-width {
	width: 100px;
}

.bank-instructions-title {
	margin: 20px 0 0;
}

.bank-instructions-list {
	margin: 0;
	padding: 0 15px 0;
	font-size: 10px;
	line-height: 15px;
}

.total-amount {
	text-align: right;
}

.account-number {
	text-align: center;
}