/*Dev Mannan: CSS Starts*/

.cus-div{
    float: left;
    margin: 10px 0px;
}
.mar-top{
    margin-top: 5px;
}
.boot-btn {
    border: none;
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}
.boot-btn.success {background-color: #4CAF50;} /* Green */
.boot-btn.success:hover {background-color: #46a049;}
.boot-btn.danger {background-color: #f44336;} /* Red */ 
.boot-btn.danger:hover {background: #da190b;}
.clr-rej{
    color: #FF0000;
}
.verified{
    color: #4CAF50;

}

/*Dev Mannan: CSS Ends*/


/* Dev Khurram: CSS Start */
.fee-already-verified {
    background-color: #1ab394;
    color: #fff;
    display:inline-block;
    padding: 2px 10px;
}

.varified-page-filter-form input[type="submit"] {
    padding: 3px;
    margin-top: 10px;
}

.reports-table thead tr:first-of-type {
    background-color: #dcdcdc;
}

#faculty-list {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}

#get-report-btn {
    padding: 5px;
    color: #fff;
    background-color: #1ab394;
    border-color: #1ab394;
    border-radius: 4px;
}

/* Dev Khurram: CSS Ends */
