.image-wdth-joining{
    float: right; 
    padding: 30px 30px; 
    border: 1px solid green; 
    text-align: center; 
    /* margin-top: -22px;    */
}
.heading-hec{
    text-align: center;
}
.padding-10{
    margin-top: 10px;
}
.padding-20{
    margin-top: 20px;
}
.txt-cntr{
    text-align: center;
}
.head-app{
    padding: 8px;
    line-height: 1.42857143;
    font-weight: bold;
}
.dotted-border{
    float: right; 
    padding: 30px 70px; 
    border: 1px solid green; 
    text-align: center; 
    border-style: dashed;
}
.wd-40{
    width: 40%;
}
.wd-80{
    width: 80%;
}
.wd-20{
    width: 20%;
}
.wd-50{
    width: 50%;
}
.wd-100{
    width: 100%;
}
.wd-33{
    width: 33%;
}
.wd-10{
    width: 10%;
}
.wd-70{
    width: 70%;
}
.wd-68{
    width: 68%;
}
.wd-90{
    width: 90%;
}
.wd-30{
    width: 30%;
}
.wd-19{
    width: 19%;
}

.cl-bt{
    clear: both;
}
.fl-rgt{
    float: right;
}
.fl-lft{
    float: left;
}
.wdt-fx{
    width: 107%;
    margin-left: -40px;
    /* margin-top: -30px;     */
}
h4, p{
    margin: 0px;
}
th, td, .no-mar-no-pad{
    padding: 0px !important;
    margin: 0px !important;
}
th, .no-mar-no-pad{
    padding-bottom: 3px !important;
}
/* table{
    padding: 0px !important;
    margin: 0px !important;
} */
td{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.mr-tp-s{
    padding-top: 30px !important;
}
.mr-lft-20{
    margin-left: 15px;
}
.text-under{
    text-decoration: underline;
}
.bg-custom-clr{
    background-color: #6c757d !important;
}
.border-custom{
    border: 1px solid #ddd;
    padding: 5px;
}
body{
    font-size: 15px;
    text-align: justify;
}