#pic1 {
    border: 1px solid #ddd;
    width: 120px;
    height: 120px;
    float: right;
    margin-top: -20px;
}
.mr-tp-min{
    margin-top: -10px;
}
.box-cus{
    width: 10px;
    height: 10px;
    float: right;
    border-style: solid;
    border-color: #000;
    margin-top: 5px;
    margin-right: 5px;
}
.cus-line{
    text-decoration: overline;
}
.remove-bull{
    list-style: none;
}
.break-page {
    page-break-before: always;
}
.underlne{
    text-decoration: underline;
}
li.decimal {
    list-style-type: decimal;
}
.tbl-wdt th,.tbl-wdt td{
    margin: 0px;
    padding: 0px;
    line-height: 20px;
}
.brdr-cus{
    border: 1px solid #ddd;
}
.inl-bl{
    display: inline-block;
}
.verified{
    width:80px;
}
.max-hgt{
    max-height: 200px;
    min-height: 200px;
}
.bld-cus, .table th{
    font-size: 14px;
}
.mr-tp-mn{
    margin-top: -7px;
}
.mr-tp-pl{
    margin-top: 10px;
}
p{
    margin: 0px;
}
.mr-top{
    margin-top: -10px;
}
.print-php{
    font-weight: bold;
    color: #000;
    text-decoration: underline;
}
.text-rgt{
    text-align: right;
}
.marg-tp{
    padding-top: 20px !important;
}
.cus-fnn td{
    font-size: 15px;
}





.cl-bt{
    clear: both;
}
.fl-rgt{
    float: right;
}
.fl-lft{
    float: left;
}
.wd-40{
    width: 40%;
}
.wd-80{
    width: 80%;
}
.wd-20{
    width: 20%;
}
.wd-50{
    width: 50%;
}
.wd-100{
    width: 100%;
}
.wd-33{
    width: 33%;
}


body{
    font-size: 15px;
    text-align: justify;
}
.image-wdth-joining{
    float: right; 
    padding: 50px 5px; 
    border: 1px solid green; 
    text-align: center; 
    margin-top: -22px;   
}
