body {
	font-family: 'Raleway', sans-serif;
}

#iiui-top-banner {
	width: 50%;
}

.header {
	background-color: #025A28;
	padding: 10px 0px;
}

.main-title {
    padding-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.sub-nav {
    text-align: center;
    padding: 0;
    list-style-type: none;
    background-color: #ccc;
    color: #000;
}

.sub-nav li {
    display : inline-block;
    margin-right: 10px;
    padding: 5px;
    font-weight: bold;
}

.main-container {
	padding: 0;
}

.announcements-panel {
	/*paddin-top:30px;*/
	background-color: #ededed;
	padding: 20px 0 ;
}

.announcements-panel h6.announcements-heading {
	display:inline-block;
}

.single-announcement,
.single-result-announcement {
	border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    padding: 20px;
    margin: 10px 0;
    height: 130px;
    overflow:auto;
}

.single-result-announcement  {
	height: 165px;
}

.single-announcement a,
.single-result-announcement a {
	color: #003d5c;
	font-size:14px;
}

.single-announcement p, 
.single-result-announcement p {
	color: #868686;
	font-size: 14px;
}

.results-main-container {
	background-color: #f9f9f9;
	padding: 0 0 55px 0;
	/*height: 100vh;*/

}

.results-container {
	width: 50%;
	margin: 0 auto;
}

.results-container h2 {
	text-align: center;
	padding-top: 30px;
}

.results-container form {
	padding: 20px;
}

.results-container form  label {
	display: block;
}

.results-container form select {
	width: 100%;
	padding: 5px;
}

.results-container form button[type="submit"] {
	
}

.info-container .main-info {
	padding-top: 20px;
	text-align:center;
	border-bottom:1px solid #ccc;
}


.info-container .list-instructions {
	padding-top:10px;
	font-weight: bold;
}

.list-thead {
	background-color: #00a65a;
    color: #fff;
}

.admission-results-form select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}

.sbr-container {
    margin-top: 20px;
}

p.sbr-result-note {
    margin-bottom: 20px !important;
}


#performa-and-offer-letter-list {
    padding: 0;
}

#performa-and-offer-letter-list li {
    display:inline-block;
    margin-right: 10px;
}


/* Dev Mannan: Cusom Css Starts */
.tp-fe-v{
    background-color: #47a65a;
    color: #fff;
    font-weight: bold;
}
.algn-cntre{
    text-align: center;
}
.pr-prog {
    width: 17%;
    float: left;
}
.pr-gender {
    width: 10%;
    float: left;
    text-align: center;
}
.pr-req {
    width: 40%;
    float: left;
    text-align: justify;
}
.pr-date {
    width: 10%;
    float: left;
    text-align: center;
}
.pr-prog, .pr-gender, .pr-req, .pr-date, .pr-time {
    /* border: 1px solid #006400; */
    padding: 3px;
    margin: 3px;
}
.pr-style {
    color: #fff;
    background-color: #116534;
    border-color: #116534;
}
.pr-time {
    width: 20%;
    float: left;
}
.pr-main-div {
    border-bottom: 1px solid #006400;
    display: inline-block;
    width: 100%;
}
.more-less {
	color: #fff;
    margin: 5px;
    position: absolute;
    right: 15px;
}
.fee-view div {
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 14px;
}
.fee-clr{
	background-color: #000;
	color: #fff;
}
.bor-head {
    border: 1px solid #ddd;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
	padding-bottom: 0px;
	cursor: pointer;
}
.top-head{
	color: #00a65a;
	font-weight: bold;
}
.header-line {
	height: 5px;
	width: 100%;
	content: '';
	display: block;
  }
  .gradient-color-1{
	   background: -webkit-linear-gradient(left,#fc636b 0,#ff6d92 60%,#fd9a00 100%);
	  background: linear-gradient(to right,#fc636b 0,#ff6d92 60%,#fd9a00 100%);
  }
.flt-lft{
	float: left;
}
.clr{
	clear: both;
}
.res-sub, .res-sub:hover{
	background-color: #00a65a;
    border-color: #00a65a;
}
.res-frm{
	/* border: 1px solid #255a27 !important; */
    margin-top: 2rem;
}
.announcements-panel a, .custom-lst a{
	color: inherit;
}
.heading-frm, .heading-frm:hover, .border-white{
	background-color: #00a65a !important;
    color: #fff !important;
}
.res-frm label{
	float: left;
}
.mrgn-tp{
	padding-top: 20px;
}
.txt-cntr a{
	text-align: center;
}
.announcements-panel .card{
    min-height: 160px;
    max-height: 160px;
}
.txt-bld{
	font-weight: bold;
}
.top-menu{
	background-color: #00a65a;
}
.top-menu a{
	color: #fff;
}
.top-menu .dropdown-menu a{
	color: #999;
}
.al-fac-menu{
	font-size: 20px;
	color: #3F835A !important;
    font-weight: bold;
}
.top-menu li {
	margin: 0px 10px;
}
.navbar-toggler {
	background-color: blue;
}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.mylogin{
	float: right;
    margin-top: 90px;
    margin-right: 30px;
    width: 80px;
}
.cl-ov{
	clear: both;
    overflow: hidden;
}
.list-date{
	color: #e43c05;
	font-weight: bold;
}
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #00a65a; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px 15px; /* Some padding */
    /* border-radius: 10px; Rounded corners */
    font-size: 18px; /* Increase font size */
}

#topBtn:hover {
    background-color: #00a65a; /* Add a dark-grey background on hover */
}
.up-ic-fnt{
	font-size: 25px;
}
.announcements-panel .card {
    overflow: auto !important;
}
.announcements-panel .card-header{
	color: #fff;
    background: #00a65a;
    background-color: #00a65a;
}
.announcements-panel .card-body{
	background-color: #fff;
    color: #000 !important;
}
.announcements-panel .card{
	border: 1px solid #00a65a;
	border-radius: 0rem;
}
.announcements-panel .card-text{
	font-size: 13px;
}
.announcements-panel .card-header{
	border-radius: 0em;
}
.announcements-panel .card-title{
	font-size: .9em;
}
.announcements-panel .card-footer{
	display: inline-flex; 
}
.announcements-panel .card-footer .fa-calendar {
    margin-right: 5px;
}
.announcements-panel .card-footer {
    padding: .60rem 1.25rem;
}
.custom-lst{
	background-color: #f9f9f9 !important;
	padding: 0px;
}
.custom-lst .card {
	min-height: 180px;
	max-height: 180px;
}
.res-frm a{
	background-color: #ddd !important;
    color: #000 !important;
}
.res-frm a:hover{
	text-decoration: underline;
}
.st-tp{
	top: 60px !important;
}
.st-tp a{
	text-align: left;
}
/* Footer Css Starts */
.footer {
    padding: 3em 0 2em;
    background: #2b2a2a;
}
.w3_footer_grid h3 {
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}
.w3_footer_grid ul li {
    list-style-type: none;
    margin-bottom: 1em;
    color: #afafaf;
    font-size: 14px;
}
.w3_footer_grid ul.address li i {
    color: #3F835A;
    border: 1px solid #3F835A;
    padding: .5em;
    margin-right: 1em;
}
.w3_footer_grid ul li a {
    color: #afafaf;
    text-decoration: none;
}
.footer-copy p {
    margin: 4em 0 0;
    text-align: center;
    color: #999;
    line-height: 1.8em;
}
.footer-botm {
    background: #393737;
    padding: 16px 0;
}
.w3layouts-foot {
    float: left;
}
.w3layouts-foot ul li {
    display: inline-block;
}
.w3layouts-foot ul li a {
    width: 32px;
    height: 32px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    line-height: 32px;
    border-radius: 50%;
}
.footer .address, .footer .info{
	padding: 0px;
}
.ft-icons{
	margin: 0px;
	padding: 0px;
}
/* Footer Css Ends */
@media only screen and (max-width: 768px) and (min-width: 0px)  {
	.top-menu li {
		text-align: center !important;
	}
	.mylogin{
		margin-top: 10px;
		margin-right: 30px;
	}
	nav.navbar.sticky-top.navbar-expand-lg.top-menu {
		width: 100%;
	}
	.w3layouts-foot {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.fee-main-container, .container-fluid.header, nav.navbar.sticky-top.navbar-expand-lg.top-menu{
		min-width: 1100px;
	}
  }


/* Merit CSS */
.merit-program {
    padding: 10px;
}

.merit-program-submit-button {
    margin-top: 10px;
}

.merit-program-search-button {
    margin-top: 27px;
}