.container {
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
header {
  border-bottom: 1px solid #ccc;
}
.img-container, .name-address-container {
  display:inline-block;
}
.img-container {
  width: 10%;
}
.name-address-container {
  text-align: center;
  width: 82%;
  vertical-align: top;
}
.img-container img {
  height: 100px;
  width: 100px;
}

.name-address-container h1, 
.name-address-container h2, 
.name-address-container h3, 
.name-address-container h4 {
  margin: 0;
}


.student-details-container p {
  margin:3px 0;
}

p.subject strong {
  text-decoration: underline;
}

#offer-letter-container {
  clear:both;
  font-size: 14px;
}

.instructions-list ul {
  margin-top: 0;
  padding-top: 0;
}

.instructions-list li {
  margin-bottom: 0;
}

.float-right {
  float:right;
  clear:both;
}

.print-and-download-container button {
  padding: 10px;
  float: right;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 5px;
}
.bold {
  font-weight: bold;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.center {
  text-align: center;
}