body {
	font-family: 'Raleway', sans-serif;
}

#iiui-top-banner {
	width: 43%;
}

.header {
	background-color: #025A28;
	padding: 10px 0px;
}

.main-container {
	padding: 0;
}

.announcements-panel {
	/*paddin-top:30px;*/
	background-color: #ededed;
	padding: 20px 0 ;
}

.announcements-panel h6.announcements-heading {
	display:inline-block;
}

.single-announcement,
.single-result-announcement {
	border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    padding: 20px;
    margin: 10px 0;
    height: 130px;
    overflow:auto;
}

.single-result-announcement  {
	height: 165px;
}

.single-announcement a,
.single-result-announcement a {
	color: #003d5c;
	font-size:14px;
}

.single-announcement p, 
.single-result-announcement p {
	color: #868686;
	font-size: 14px;
}

.results-main-container {
	background-color: #f9f9f9;
	padding: 0 0 55px 0;
	/*height: 100vh;*/

}

.results-container {
	width: 50%;
	margin: 0 auto;
}

.results-container h2 {
	text-align: center;
	padding-top: 30px;
}

.results-container form {
	padding: 20px;
}

.results-container form  label {
	display: block;
}

.results-container form select {
	width: 100%;
	padding: 5px;
}

.results-container form button[type="submit"] {
	
}

.info-container .main-info {
	padding-top: 20px;
	text-align:center;
	border-bottom:1px solid #ccc;
}


.info-container .list-instructions {
	padding-top:10px;
	font-weight: bold;
}

.list-thead {
	background-color: #00a65a;
    color: #fff;
}

.admission-results-form select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}

.sbr-container {
    margin-top: 20px;
}

p.sbr-result-note {
    margin-bottom: 20px !important;
}


#performa-and-offer-letter-list {
    padding: 0;
}

#performa-and-offer-letter-list li {
    display:inline-block;
    margin-right: 10px;
}


/* Dev Mannan: Cusom Css Starts */
.info-test p{
    text-align: justify;
}
.txt-align-cntr-imp{
    text-align: center !important;
}
.list-compare .inside-cmpr {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.list-compare .inside-cmpr span.cm-first {
    display: block;
    border: 3px solid #855A5C;
    border-radius: 50%;
    line-height: 70px;
    width: 80px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}

.list-compare .inside-cmpr span.cm-second {
    display: block;
    text-align: center;
    margin-top: 4px;
    font-weight: bold;
}
.program-compare h5 {
    font-weight: bold;
    padding: 10px;
    color: #FF6F59;
}
.list-compare .inside-cmpr:nth-child(1) span.cm-first {
    border-color: #000;
    color: #BB342F;
}
.list-compare .inside-cmpr:nth-child(2) span.cm-first {
    border-color: #235A28;
    color: #BB342F;
}
.list-compare .inside-cmpr:nth-child(3) span.cm-first {
    border-color: #3A7BFF;
    color: #EF3054;
}
.list-compare .inside-cmpr:nth-child(4) span.cm-first {
    border-color: #FF6F59;
    color: #3A7BFF;
}
.list-compare .inside-cmpr:nth-child(5) span.cm-first {
    border-color: #EF3054;
    color: #235A28;
}
.list-compare .inside-cmpr:nth-child(6) span.cm-first {
    border-color: #BB342F;
    color: #000;
}
.cnicDanger .alert-danger{
    margin-bottom: 0px;
    padding-bottom: 0rem;
}
.cnicDanger .no-margin{
    width: 100%;
    text-align: center
}
.cnicDanger ul{
    list-style-type: none;  
}
.expand_all{
    margin: 5px;
    position: absolute;
    right: 15px;
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 4px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-radius: 0px;
    -moz-border-radius: 0px;
}
.sxim-init .navbar-static-side, .sxim-init .nav-header, .sxim-init li.active, .sxim-init #page-wrapper, .sxim-init .footer {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #f4f4f4;
    border-color: #DDDDDD;
    color: inherit;
    cursor: default;
    z-index: 2;
}
.pagination > li > a, .pagination > li > span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}
.bord-btm{
    border-bottom: 1px solid #47a65a;
}
.bg-ff{
    background-color: #fff !important; 
}
.border-light {
    border-color: #fff!important;
}
.clr{
    clear: both;
}
.results-head{
    padding-top: 30px;
    margin-bottom: 10px;
}
.result-sze{
    font-size: 0.9em;
}
.results-list{
    border: 1px solid #ccc;
    border-radius: 0rem;
    color: #000;
    background-color: #fff;
    padding: 10px;
}
.results-list:nth-child(even){
    background:#eee;
}
.tp-fe-v{
    background-color: #47a65a;
    color: #fff;
    font-weight: bold;
}
.algn-cntre{
    text-align: center;
}
.pr-prog {
    width: 17%;
    float: left;
}
.pr-gender {
    width: 10%;
    float: left;
    text-align: center;
}
.pr-req {
    /* width: 40%; */
    width: 71%;
    float: left;
    text-align: justify;
}
.pr-date {
    width: 10%;
    float: left;
    text-align: center;
}
.pr-prog, .pr-gender, .pr-req, .pr-date, .pr-time {
    /* border: 1px solid #006400; */
    padding: 3px;
    margin: 3px;
}
.pr-style {
    color: #fff;
    background-color: #116534;
    border-color: #116534;
}
.pr-time {
    width: 20%;
    float: left;
}
.pr-main-div {
    border-bottom: 1px solid #006400;
    display: inline-block;
    width: 100%;
}
.more-less {
	color: #fff;
    margin: 5px;
    position: absolute;
    right: 15px;
}
.fee-view div {
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 14px;
}
.fee-clr{
	background-color: #000;
	color: #fff;
}
.bor-head {
    border: 1px solid #ddd;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
	padding-bottom: 0px;
	cursor: pointer;
}
.top-head{
	color: #00a65a;
	font-weight: bold;
}
.header-line {
	height: 5px;
	width: 100%;
	content: '';
	display: block;
  }
  .gradient-color-1{
	   background: -webkit-linear-gradient(left,#fc636b 0,#ff6d92 60%,#fd9a00 100%);
	  background: linear-gradient(to right,#fc636b 0,#ff6d92 60%,#fd9a00 100%);
  }
.flt-lft{
	float: left;
}
.clr{
	clear: both;
}
.res-sub, .res-sub:hover{
	background-color: #00a65a;
    border-color: #00a65a;
}
.res-frm{
	/* border: 1px solid #255a27 !important; */
    margin-top: .1rem;
}
.announcements-panel a, .custom-lst a{
	color: inherit;
}
.heading-frm, .heading-frm:hover, .border-white{
	background-color: #00a65a !important;
    color: #fff !important;
}
.res-frm label{
	float: left;
}
.mrgn-tp{
	padding-top: 20px;
}
.txt-cntr a{
	text-align: center;
}
/* .announcements-panel .card{
    min-height: 160px;
    max-height: 160px;
} */
.txt-bld{
	font-weight: bold;
}
.top-menu{
	background-color: #00a65a;
}
.top-menu a{
	color: #fff;
}
.hov{
    cursor: pointer;
}
.top-menu .dropdown-menu a{
    color: #999 !important;
}
.al-fac-menu{
	font-size: 20px;
	color: #3F835A !important;
    font-weight: bold;
}
.top-menu li {
	margin: 0px 10px;
}
.navbar-toggler {
	background-color: #007bff;
}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.mylogin{
	float: right;
    margin-top: 90px;
    margin-right: 30px;
    width: 80px;
}
.cl-ov{
	clear: both;
    overflow: hidden;
}
.list-date{
	color: #e43c05;
	font-weight: bold;
}
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #00a65a; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px 15px; /* Some padding */
    /* border-radius: 10px; Rounded corners */
    font-size: 18px; /* Increase font size */
}

#topBtn:hover {
    background-color: #00a65a; /* Add a dark-grey background on hover */
}
.up-ic-fnt{
	font-size: 25px;
}
/* .announcements-panel .card {
    overflow: auto !important;
}
.announcements-panel .card-header{
	color: #fff;
    background: #00a65a;
    background-color: #00a65a;
}
.announcements-panel .card-body{
	background-color: #fff;
    color: #000 !important;
} */
/* .announcements-panel .card{
	border: 1px solid #00a65a;
	border-radius: 0rem;
} */
.announcements-panel .card-text{
	font-size: 13px;
}
.announcements-panel .card-header{
	border-radius: 0em;
}
.announcements-panel .card-title{
	font-size: .9em;
}
.announcements-panel .card-footer{
	display: inline-flex; 
}
.announcements-panel .card-footer .fa-calendar {
    margin-right: 5px;
}
.announcements-panel .card-footer {
    padding: .60rem 1.25rem;
}
.custom-lst{
	background-color: #f9f9f9;
	padding: 0px;
}
.custom-lst .card {
	min-height: 200px;
	max-height: 200px;
}
.res-frm a{
	background-color: #ddd !important;
    color: #000 !important;
}
.res-frm a:hover{
	text-decoration: underline;
}
.st-tp{
	top: 60px !important;
}
.st-tp a{
	text-align: left;
}
/* Footer Css Starts */
.footer {
    padding: 3em 0 2em;
    background: #2b2a2a;
}
.w3_footer_grid h3 {
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}
.w3_footer_grid ul li {
    list-style-type: none;
    margin-bottom: 1em;
    color: #afafaf;
    font-size: 14px;
}
.w3_footer_grid ul.address li i {
    color: #3F835A;
    border: 1px solid #3F835A;
    padding: .5em;
    margin-right: 1em;
}
.w3_footer_grid ul li a {
    color: #afafaf;
    text-decoration: none;
}
.footer-copy p {
    margin: 1em 0 0;
    text-align: center;
    color: #999;
    line-height: 1.8em;
}
.footer-botm {
    background: #393737;
    padding: 16px 0;
}
.w3layouts-foot {
    float: left;
}
.w3layouts-foot ul li {
    display: inline-block;
}
.w3layouts-foot ul li a {
    width: 32px;
    height: 32px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    line-height: 32px;
    border-radius: 50%;
}
.footer .address, .footer .info{
	padding: 0px;
}
.ft-icons{
	margin: 0px;
	padding: 0px;
}
/* Footer Css Ends */
@media only screen and (max-width: 768px) and (min-width: 0px)  {
	.top-menu li {
		text-align: center !important;
	}
	.mylogin{
        margin-top: 5px;
        margin-right: 5px;
        padding: .10rem .1rem;
	}
	nav.navbar.sticky-top.navbar-expand-lg.top-menu {
		width: 100%;
	}
	.w3layouts-foot {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.fee-main-container, .container-fluid.header, nav.navbar.sticky-top.navbar-expand-lg.top-menu, .small-fluid{
		min-width: 100%;
    }
    .signupForm{
        width: 98%;
        margin: 0 auto;
        border-top: 2px solid #3a7bff;
        background-color: #fffbfb;
        padding: 5px 0px;
    }
    body{
        min-width: 100%;
    }
    #iiui-top-banner {
        width: 100%;
    }
    .topheader-btn {
        top: 45px !important;
    }
    .navbar-toggler {
        background-color: #235a27;
    }
    .pr-prog, .pr-gender, .pr-req, .pr-date, .pr-time{
        margin: 1px;
        font-size: .8em;
    }
    .fee-view div {
        font-size: .5em;
    }
    .extended-prog, .extended-head{
        width: 100% !important;
    }
    .extended-head{
       font-size: 1.2em;
    }
    div.transbox label, .bl-clr {
        color: inherit !important;
    }
    .cl-wh-sn {
        color: inherit !important;
    }
    .transbox .error{
        color: red !important;
    }
    div.transbox input, div.transbox select{
        background-color: inherit !important;
    }
    div.transbox{
        opacity: .9 !important;
        padding: 0px !important;
    }
    .fee-prog-conatiner{
        min-width: 1100px;
    }
    /* .remove-responsive-fp{
        min-width: 1100px;
    } */
  }


/* Merit CSS */
.main-title {
    padding-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.sub-nav {
    text-align: center;
    padding: 0;
    list-style-type: none;
    background-color: #ccc;
    color: #000;
}

.sub-nav li {
    display : inline-block;
    margin-right: 10px;
    padding: 5px;
    font-weight: bold;
}

.sub-nav li a {
    color: #000;
}

.sub-nav li a.alert {
    color: red;
}

.select2-submit {
    margin-top: 10px;
}
.publc-search-results {
    text-align: center;
}

.search-results-section {
    display: inline-block;
    vertical-align: top;
}

.blink_me, .blink_me:hover  {
  animation: blinker 1s linear infinite;
  color: red !important;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.download-icon {
    height: 30px;
}

.download-docs {
    text-decoration: none !important;
}
.search-results-section .select2-container .select2-selection--single, .search-results-section .select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 37px;
}
.sbbm{
    padding: 10px;
    line-height: 16px;
    margin: 0px;
}
.pad-zer{
    padding: 0px;
}
.pd-lfz{
    padding-left: 0px;
}
.bg-ff .row, .footer.row, .footer-botm{
    margin: 0px;
}
.signupForm .control-label:after{
    content:"*";
    color:red;
    font-size: 20px;
  }
  .bl-clr{
      color: #fffbfb
  }
  .error {
    color: red;
    font-size: 13px;
    float: right;
}
.navbar{
    padding: 0.1em;
}
.signupForm .col-md-6{
    margin-bottom: 4px !important;
}
.sgn-frm .form-control, .sgn-frm .btn{
    height: 30px;
}
.sgn-frm .btn{
    padding-top: 0.1em;
}
.first .card .card-header{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.second .card .card-header{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.third .card .card-header{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.mr-auto{
    margin: 0 auto;
}
.first h5 a, .second h5 a, .third h5 a {
    font-size: 14px;
    font-weight: bold;
}
.first .card-block, .second .card-block, .third .card-block {
    font-size: 14px;
    padding: 10px;
    text-decoration: initial;
}
.faq-hed{
    color: #007bff;
    text-align: center;
    font-weight: bold;
    margin: 20px 0px;
}
.topheader-btn{
    float: right;
    position: absolute;
    right: 0px;
    top: 80px;
}
.signupForm label {
    font-size: 15px;
    margin-bottom: .2rem;
}
.signupForm .form-control{
    height: calc(2rem + 1px);
}
.forgotPass{
    cursor: pointer;
    color: #3a7bff !important;
}
.txt-ara{
    height: auto !important;
}
.mar-cn{
    text-align: center;
}
.al-img-clo{
    width: 40%;
    margin-top: 30px;
}
.closing-date {
    font-size: 15px;
    font-weight: bold;
    float: right;
    color: #FF4136;
    margin-top: 5px;
}
.extended-prog{
    width: 70%;
    margin: 0 auto;
    border-top: 2px solid #fff;
    background-color: #fff;
    padding: 5px 0px;
}
.extended-head{
    border-top: 2px solid #fff;
    width: 70%;
    text-align: center;
}
.extended-prog th, .extended-prog td{
    padding: 5px;
}
.nav-item .active {
    background-color: #245a28;
}
.back-img{
    background-image: url("../../../../storage/images/bg.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    padding: 0px;
  }
  div.transbox {
    background-color: #2b2a2a;
    padding: 20px;
    border: 1px solid black;
    opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }
  div.transbox label {
    font-weight: bold;
    color: #fff;
  }
  div.transbox input, div.transbox select{
    background-color: #fff !important;
    opacity: 1;
  }
  .transbox .error{
    color: #fff;
  }
  div.transbox .bl-clr{
    background-color: #fff;
    color: #3a7bff;
  }
  #navbarSupportedContent .dropdown-divider{
      margin: 0px;
  }
  .cntct-us{
    border-top: 2px solid #3a7bff !important;
  }
  h3.cntct-us{
    color: #3a7bff !important;
  }
  #signUpModal .modal-header{
    background-color: #47a75a;
    color: #fff;
}
.result-lst-ad td, .result-lst-ad th{
    font-size: 14px;
}
.result-lst-ad td:nth-of-type(1), .table-fl th:nth-of-type(1){
    min-width: 5% !important;
    max-width: 5% !important;
}
.result-lst-ad td:nth-of-type(2), .table-fl th:nth-of-type(2){
    min-width: 5% !important;
    max-width: 5% !important;
}
.result-lst-ad td:nth-of-type(3), .table-fl th:nth-of-type(3){
    min-width: 25% !important;
    max-width: 25% !important;
}
.result-lst-ad td:nth-of-type(4), .table-fl th:nth-of-type(4){
    min-width: 25% !important;
    max-width: 25% !important;
}
.result-lst-ad td:nth-of-type(5), .table-fl th:nth-of-type(5){
    min-width: 10% !important;
    max-width: 10% !important;
}
.result-lst-ad td:nth-of-type(6), .table-fl th:nth-of-type(6){
    min-width: 10% !important;
    max-width: 10% !important;
}
.result-lst-ad td:nth-of-type(7), .table-fl th:nth-of-type(7){
    min-width: 10% !important;
    max-width: 10% !important;
}
.result-lst-ad td:nth-of-type(8), .table-fl th:nth-of-type(8){
    min-width: 10% !important;
    max-width: 10% !important;
}

.fee-view div {
    font-size: 14px !important;
}
.msg-div{
    color: #ef6363;
    font-weight: bold;
}
.test-table th, .test-table td{
    text-align: center;
}
.test-table th, .test-table td{
    padding: 0px;
}
.mr-bt-ze{
    margin-bottom: 0px;
}
.ol-just li{
    text-align: justify;
}

@media only screen and (min-width: 768px) and (max-width: 7280px) {
  
    .signupForm{
        width: 70%;
        margin: 0 auto;
        border-top: 2px solid #fff;
        /* background-color: #fffbfb; */
        /* padding: 5px 0px; */
    }
    .sgn-frm {
        position: absolute;
        right: 0px;
        top: 80px;
    }
    .info-test .modal-dialog-centered{
        max-width: 600px;
        margin: auto;
    }
}
#admissionReq .modal-header * {
    font-size: 1.3em !important;
    font-weight: bold;
}
#admissionReq .modal-body {
    font-size: 1em;
}
.cl-wh-sn{
    color: #fff;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}
.cl-wh-sn #verify_instructions{
    margin-right: 10px;
    margin-bottom: 0.4em;
}
.cl-wh-sn .vr-sl{
    color: #007bff !important;
    text-decoration: underline;
}
.res-front{
    color: #f00 !important;
    font-weight: bold;
}
@media (min-width: 768px){
    #admissionReq .modal-dialog {
        width: 1000px;
        min-width: 1000px !important;
    }   
}
 