@media print { 
    body { 
        -webkit-print-color-adjust: exact !important; 
    } 
}
.panel-success-alt, .panel-primary, .panel-warning{
    width: 33%;
    float: left;
    border: 1px solid #ddd;
    margin-top: 0px;
}
.panel-success-alt h5, .panel-primary h5, .panel-warning h5, .panel-success-alt h1, .panel-primary h1, .panel-warning h1,
.panel-success-alt h4, .panel-primary h4, .panel-warning h4{
    font-size: 17px;
    color: #fff !important;
}
.currecny-print{
    width: 100%;
}
.currecny-print .br-color{
    background-color: #fff !important;
}
hr{
    border-top: 1px solid #ddd;
}
.print-curr-male{
    width: 50%;
    float: left;
}
.fa{
    margin-top: -5px !important;
}
.fir{
    width: 90%;
    float: left;
}
.sec{
    width: 10%;
    float: left;
    margin-left: -10px !important; 
}
.map-printing{
    padding-top: 100px !important;
    float: left !important;
}
.faculty-wise-printing{
    clear:  both !important;
    padding-top: 200px !important;
}
.faculty-wise-printing td{
    font-size: 17px;
}
.page-content-wrapper{
    margin-top: 0px;
}
.from-print, .to-print{
    width: 50% !important;
    float: left !important;
}
.dept-print-stats th, .dept-print-stats td{
    font-size: 15px;
}
.tp-pr-fr, .tp-pr-se, .tp-pr-th{
    width: 33%;
    float: left;
}
.print-clr-1{
    background-color: #5cb85c !important;
}
.print-clr-2{
    background-color: #428bca !important;
}
.print-clr-3{
    background-color: #f8ac59 !important;
}
/* .print-clr-4{
    background-color: #706f74 !important;
} */
.currecny-print h4, .currecny-print h5, .currecny-print h1{
    color: #000 !important;
}
.cntred-div {
    width: 80% !important;
    margin: 0 auto !important;
}
.algn-one{
    float: left;
}
.algn-two{
    float: right;
}
.cntred-div{
    padding-top: 100px !important;
}

td.pr-cl{
    background-color: #0B3954 !important;
    color: #fff !important;
}

td.bg-bl {
    background-color: #84BCDA !important;
    color: #fff !important;
}
td.bg-gr {
    background-color: #067BC2 !important;
    color: #fff !important;
}
td.up-clr {
    background-color: #1ab394 !important;
    color: #fff !important;
}
td.dwn-clr {
    background-color: #da4b49 !important;
    color: #fff !important;
}
/* .ap-ad{
    width: 10% !important;
} */
