
/*
 *
 *   Sximo Builder  - PHP WEB GENERATOR
 *   Copyright 2014 sximobuilder.com
 *
 

*/


 body {
  /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;*/
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.45; 
  font-weight: 500; 
  color: #676a6c; 
  overflow-x:hidden;
  background: #f3f3f4;
  font-size: 13px;

}
.bglogin{ 
  background: #f3f3f4;
}

a,a:hover , a:visited { color:#565656;}
h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}
.bg-gray {
  background: #f3f3f4 !important;
}
.nav.navbar-right > li > a {
 
}

.nav.navbar-right > li > a.avatar {
  padding: 5px 0 10px 0 ; margin: 0
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
   background-color: transparent  !important;
  color: #fff;
}
.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
 background-color: transparent  !important;
}
.nav > li > a i {
  margin-right: 6px; 
}

/* Added For Sximo 5 Ultimate */

#sidebar-navigation {
  width: 180px;
  position: fixed;background: #2f4050  ;
  z-index: 102;
  height: 100%;
  transition: all 0.5s;
}

#sidebar-navigation .sidebar-collapse {
  
}
#sidebar-navigation .logo{
  line-height: 56px;
  text-align: center;
  background: #243646 ;
  font-size: 16px;
  font-weight: 600;
 
}
#sidebar-navigation .logo a{  color: #fff; }
#sidebar-navigation .logo-small{
  display: none;
}
#sidebar-navigation .search {
  padding:25px 20px 20px
}

#sidebar-navigation .search input{
  border: none;
  background: #0b1115 none repeat scroll 0 0;
  color: #fff;
}

body.minimize-sidemenu #sidebar-navigation {
  width: 70px;
  transition: all 0.5s;
}
body.body-small  #sidebar-navigation {
  display: none;
  transition: all 0.5s;
}
body.body-small.minimize-sidemenu  #sidebar-navigation {
  width: 70px;
  transition: all 0.5s;
  display: block;
}

@media (max-width: 480px) {
  #sidebar-navigation  {
    display: none;
  }
  .navbar-fixed-top {
    left: 0;
  }
  .page-header {
    margin-top: 0;
  }

 
}
body.minimize-sidemenu #sidebar-navigation:hover {
  width: 230px;
  transition: all 0.5s;
  opacity: 0.9;


}
body.minimize-sidemenu #sidebar-navigation:hover .logo{
  opacity: 1;
   transition: all 0.6s;
   transform: translate3d(0px, 0px, 0px); 
}
body.minimize-sidemenu #sidebar-navigation:hover .logo-small{
  display: none;
  transition: all 0.6s;
}

body.minimize-sidemenu #sidebar-navigation .logo{
  opacity: 0;
  transform: translate3d(-65px, 0px, 0px); 
  transition: all 0.6s;
}
body.minimize-sidemenu #sidebar-navigation .logo-small{
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding: 11px 0 ;
}
body.minimize-sidemenu #sidebar-navigation .search {
  display: none;
  padding: 0;
}

body.minimize-sidemenu #sidebar-navigation  .nav-label { 
  opacity: 0;
  transform: translate3d(-65px, 0px, 0px); 
  position: absolute;
}
body.minimize-sidemenu #sidebar-navigation:hover   .nav-label {
  opacity: 0.9;
  transform: translate3d(0px, 0px, 0px); 
   transition: all 0.6s;
}
#sidebar-navigation   .nav-label {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px); 
   transition: all 0.6s;
}

body.minimize-sidemenu .navbar-default .nav > li > .nav-second-level li a {
  font-size: 12px;
  border-radius: 0px;
}
body.minimize-sidemenu #sidebar-navigation .collapse.in { 
  display: none;
}
body.minimize-sidemenu #sidebar-navigation:hover .collapse.in { 
  display: block;
}
#sidebar-navigation .nav  > li.separator { 
  color: #70829a; 
  
  font-weight: 600; 
  text-transform: 
  uppercase; font-size: 12px;  
  line-height: 30px;
  height: 30px;

  
}
#sidebar-navigation .nav  > li.separator span{ 
 
  opacity: 1;
  transition: all 0.6s;
  padding: 0 0 0 20px;
}
.minimize-sidemenu #sidebar-navigation .nav  > li.separator span{
  opacity: 0;
  transform: translate3d(-65px, 0px, 0px);
  transition: all 0.6s;
  position: absolute;
}

.minimize-sidemenu #sidebar-navigation:hover .nav  > li.separator span{ 
  opacity: 1;
  transition: all 0.6s;  
  transform: translate3d(0px, 0px, 0px);

   position: relative;
}

#sidemenu  > li > a i { color: #fff; }

#sidemenu li.profile-sidebar {
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: #243646 ; 
  font-weight: 600;


}
#sidemenu li.profile-sidebar span{
    text-transform: uppercase;  
     font-size: 11px;
     color: #fff;
}
body.minimize-sidemenu #sidemenu li.profile-sidebar {
  display: none;
}


#sidemenu li.profile-sidebar .dropdown .dropdown-menu{
 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  border-radius: 4px !important;

}
#sidemenu li.profile-sidebar .dropdown .dropdown-menu
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover
{
  background: none !important;
}
#sidemenu li.profile-sidebar .dropdown .dropdown-menu li a{
  color: #333;
}
#sidemenu li.profile-sidebar .dropwdown a.dropdown-toggle{
  padding: 5px 0;
  display: block; 
}

#sidemenu > li > a { 
  font-weight: 700; 
  font-size: 11px;  
  width: 100%; 
  display: inline-block; 
  color: #dcdcdc;  
 padding: 10px 20px;
  text-transform: uppercase;
}
#sidemenu > li > a i { 
  font-size: 14px; 
  float:left; 
  margin-right: 12px;
  padding-top:5px;
  
}

#sidemenu > li > a:hover ,.expanded-menu > li > a:focus  { background: #293846   !important }
#sidemenu > li.active > a i{ color:#fff; }
#sidemenu > li.active > a { background: #293846   }
#sidemenu .nav-second-level li a  { background: #293846 ;   }
#sidemenu > li.logo-header > a:hover { background: none !important }

#sidemenu .nav-second-level li a:hover , .nav-second-level li a:focus  { background: #121B22 }
#sidemenu .nav-second-level li.active a  { 
  background: #0b1115 ; 
  color: #c3c3c3;
}

.nav-second-level li a { background: #162029  }
.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}
.nav-second-level li a {
 padding: 5px 5px 5px 40px;

  color: #d1d1d1;
  font-size: 11px; 
  font-weight: 600;
}
.nav-second-level li a i { font-size: 16px;
  
}

.nav-second-level > li > a > .menu-icon {
    background-color: inherit;
    display: block;
    font-size: 11px;
    font-weight: 400;
    height: auto;
    left: 10px;
    line-height: 12px;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 18px;
    z-index: 1;
}
.nav-third-level li a {
  padding-left: 52px; font-size:11px;
}
.nav-second-level li:last-child {
 
}

.navbar {
  border: 0;
}
.navbar-default {
  background-color: transparent;
  border-color: #2f4050;
}
.navbar-default .navbar-brand { color: #fff; }
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px 10px;
  min-height: 40px;
  color: #676a6c;
  
}
.navbar-top-links .dropdown-menu {
/*background-color: rgba(29, 43, 54, 0.9); */
background-color: #fff;
color: #bbb;
border: solid 1px #eee ;


}
.navbar-top-links .dropdown-menu .divider {
 border-bottom: solid 1px #eee ;
}
.navbar-top-links .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: #f5f5f5;
  color: #333;
}
.navbar-top-links .dropdown-menu > li >  a  , .navbar-top-links .dropdown-menu > li >  a i.fa {
 
  color: #666;
}

.dropdown-menu {
  border: medium none;
  border-radius: 3px;
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
  border-radius: 0px !important;
}
.dropdown-menu > li > a {
  border-radius: 3px;
  color: inherit;
  line-height: 25px;
  margin: 4px;
  text-align: left;
  font-weight: normal;
  font-size: 12px;
}
.dropdown-menu > li > a.font-bold {
  font-weight: 600;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
  font-size:12px;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.dropdown-messages,
.dropdown-alerts {
  padding: 10px 10px 10px 10px;
}
.dropdown-messages li a,
.dropdown-alerts li a {
  font-size: 12px;
}
.dropdown-messages li em,
.dropdown-alerts li em {
  font-size: 10px;
}
.nav.navbar-top-links .dropdown-alerts a {
  font-size: 12px;
}
.nav-header {
  padding: 25px 20px 20px; 
}


.sxim-init .nav-header {
  transition: all 0.5s;
}
.nav > li.active {
  
}


.nav.nav-second-level > li.active {
  border: none;
}
.nav.nav-second-level {
  border: none; background: #162029  ;
}
.nav.nav-second-level.collapse[style] {
  height: auto !important;
}
.nav-header a {
  color: #DFE4ED; font-size: 11px; font-weight: 600;  
}
.nav-header span.caret{ margin-top: -30px; }
.nav-header .text-muted {
  color: #8095a8;
}
.minimalize-btn {
  padding: 4px 12px;
  margin: 14px 5px 5px 15px; 
  float: left;
}
.minimalize-btn  {
   font-size: 14px;
   font-weight: 500;
}
.minimalize-btn  i{
   
}
.navbar-form-custom {
  float: left;
  height: 50px;
  padding: 0;
  width: 200px;
  display: inline-table;
}
.navbar-form-custom .form-group {
  margin-bottom: 0;
}
.nav.navbar-top-links a.dropdown-toggle {
  font-weight: 600;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
}

.nav.navbar-top-links a  i.fa{
   font-size:14px; 
   
}

.navbar-form-custom .form-control {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  font-size: 14px;
  height: 60px;
  margin: 0;
  z-index: 2000;
}
.count-info .label {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 6px;
  top: 12px;

}

 
.notif-alert  {
  line-height: 12px;
  padding: 3px 5px;
  position: absolute;
  right: 35px;
  top: 4px;
  background: #fb3c4a; color: #fff;
  border-radius:20px !important;  
}
.arrow {
  float: right;  font-size: 14px; font-weight: 500;
}
.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}

.logo-header a i{ margin: 0 !important; padding:10px 0 !important; line-height: auto !important;  color: #111 !important}
.sxim-init .navbar-static-side,
.sxim-init .nav-header,
.sxim-init li.active,
.sxim-init #page-wrapper,
.sxim-init .footer {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-fixed-top {
  background: #243646 ;
  transition-duration: 0.5s;
  left: 180px;
  z-index: 101 !important;
  border-bottom: solid 1px #243646;

}

.navbar-mega-menu {
  height: auto; 
  background-color: rgba(47, 64, 80, 0.9) !important;
  transition: all 0.5s ease 0s;
  transition-duration: 0.5s;
  top:55px; 
  z-index: 101; 
  position: fixed; 
  padding: 20px;
  left: 180px !important;
  border:none !important;
}

body.minimize-sidemenu .navbar-mega-menu {
    left: 70px !important;
    width: 100%
    height:300px;
    overflow: auto;
}
body.body-small .navbar-mega-menu {
   left: 0px !important;  
   width: 100%;
    height:300px;
    overflow: auto;
}
.navbar-mega-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-mega-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.navbar-mega-menu  li ul li.dropdown-header{
  font-weight: 600; padding-bottom: 5px;
  font-size: 13px;
  color: #fff !important;
  padding: 0 20px !important;
}
ul.navbar-mega-menu  li ul li.divider{
  border-bottom: 1px solid #a7b1c2 !important;
}
 ul.navbar-mega-menu li ul li a{
  display: block;
  padding: 5px 0;
  color: #a7b1c2;
  font-size: 13px !important;
}
ul.navbar-mega-menu li ul li a i{
  width: 30px; 
  font-size: 16px;
  color: #243646;
  text-align: center;
  padding: 7px 5px;
  border-radius: 20px;
  background: #fff ;
}

.minimize-sidemenu .navbar-fixed-top {
  transition-duration: 0.5s;
  left: 70px;

}

.navbar-static-top a{ color: #333843 }

.fixed-nav #wrapper {
  margin-top: 60px;
}
.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}
.body-small .navbar-fixed-top {
  left: 0px;
}
.body-small.minimize-sidemenu .navbar-fixed-top {
  left: 70px;
}
body.minimize-sidemenu .navbar-fixed-side {
  width: 70px;
  position: fixed;
}

.navbar-fixed-side {
  width: 230px;
  position: absolute;
  z-index: 101;
}






body.minimize-sidemenu .navbar-default .nav > li > a {
  font-size: 16px;
}
body.minimize-sidemenu .photo-header {
  display: block;
}
body.minimize-sidemenu li.logo-header , body.minimize-sidemenu li.nav-header input{
  display: none !important;
}


body.minimize-sidemenu .nav-header {
  padding: 0;
  background-color: #233646; display: block !important;
}
body.minimize-sidemenu #page-wrapper,
body.minimize-sidemenu .footer {
  margin: 0 0 0 70px;
}
body.minimize-sidemenu #page-wrapper {
  margin: 0 0 0 70px;
}
/* */


.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline,
.control-label {  
  font-weight: 600 !important; 
  color: #676a6c;
}
.form-control {
  box-shadow: none !important;
  border-radius: 0px !important;
}
.form-control:focus {
  border-color:#1ab394;
}

.badge {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-shadow: none;
}
.label-primary,
.badge-primary {
  background-color: #1ab394;
  color: #FFFFFF;
}
.label-success,
.badge-success {
  background-color: #1c84c6;
  color: #FFFFFF;
}
.label-warning,
.badge-warning {
  background-color: #f8ac59;
  color: #FFFFFF;
}
.label-warning-light,
.badge-warning-light {
  background-color: #f8ac59;
  color: #ffffff;
}
.label-danger,
.badge-danger {
  background-color: #ed5565;
  color: #FFFFFF;
}
.label-info,
.badge-info {
  background-color: #23c6c8;
  color: #FFFFFF;
}
.label-inverse,
.badge-inverse {
  background-color: #262626;
  color: #FFFFFF;
}
.label-white,
.badge-white {
  background-color: #FFFFFF;
  color: #5E5E5E;
}
.label-white,
.badge-disable {
  background-color: #2A2E36;
  color: #8B91A0;
}
.label-green,
.badge-green {
  background-color: #1ab394;
  color: #fff;
}

/* PAGINATIN */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #f4f4f4;
  border-color: #DDDDDD;
  color: inherit;
  cursor: default;
  z-index: 2;
}
.pagination > li > a,
.pagination > li > span {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: inherit;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 4px 10px;
  position: relative;
  text-decoration: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span { border-radius: 0px; -moz-border-radius: 0px; }
.pagination > li:last-child > a, .pagination > li:last-child > span { border-radius: 0px; -moz-border-radius: 0px; }

/* TOOLTIPS */
.tooltip-inner {
  background-color: #2F4050;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #2F4050;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #2F4050;
  display: inline-block;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #2F4050;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #2F4050;
}
.stat-list li:first-child {
  margin-top: 0;
}
.stat-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.stat-percent {
  float: right;
}
.stat-list li {
  margin-top: 15px;
  position: relative;
}
/* Button */

/* CIRCLE */
.img-circle {
  border-radius: 50%;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}
.show-grid {
  margin: 15px 0;
}
/* INPUTS */
label { font-weight: 600;}
b, strong {  font-weight: 600; }
.inline {
  display: inline-block !important;
}
.input-s-sm {
  width: 120px;
}
.input-s {
  width: 200px;
}
.input-s-lg {
  width: 250px;
}
.i-checks {
  padding-left: 0;
}
  
}
.has-success .form-control {
  border-color: #1ab394;
}
.has-warning .form-control {
  border-color: #f8ac59;
}
.has-error .form-control {
  border-color: #ed5565;
}
.has-success .control-label {
  color: #1ab394;
}
.has-warning .control-label {
  color: #f8ac59;
}
.has-error .control-label {
  color: #ed5565;
}
.input-group-addon {
  
  border: 1px solid #d4d4d4;
  border-radius: 0px !important;
  color: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  padding: 6px 12px;
  text-align: center;
  background-color:#fff;
}
.input-group-btn > .btn{
  border-radius: 0px !important;
}

.sidebard-panel {
  width: 220px;
  background: #ebebed;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}
.sidebard-panel .feed-element img.img-circle {
  width: 32px;
  height: 32px;
}
.sidebard-panel .feed-element,
.media-body,
.sidebard-panel p {
  font-size: 12px;
}
.sidebard-panel .feed-element {
  margin-top: 20px;
  padding-bottom: 0;
}
.sidebard-panel .list-group {
  margin-bottom: 10px;
}
.sidebard-panel .list-group .list-group-item {
  padding: 5px 0;
  font-size: 12px;
  border: 0;
}
.sidebar-content .wrapper {
  padding-right: 230px;
}

body.boxed-layout {
 
}
body.boxed-layout #wrapper {
 /* background-color: #2f4050; */
 background-color: #000;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.block {
  display: block;
}
.clear {
  display: block;
  overflow: hidden;
}
a:hover,
a:focus {
  text-decoration: none;
}
.border-bottom {
  border-bottom: 1px solid #e7eaec !important;
}
.font-bold {
  font-weight: 600;
}
.font-noraml {
  font-weight: 400;
}
.text-uppercase {
  text-transform: uppercase;
}
.b-r {
  border-right: 1px solid #e7eaec;
}
.hr-line-dashed {
  border-top: 1px dashed #e7eaec;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}
.hr-line-solid {
  border-bottom: 1px solid #e7eaec;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Sximo Modal */
.modal-content {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0 none;
  position: relative;
}
.modal-dialog {
  z-index: 1200;
}
.modal-body {
  padding: 20px 30px 30px 30px;
}

/* WRAPPERS */
#wrapper {
  width: 100%; background: #1d2b36    ;
 
}
.wrapper {
  padding: 0 20px;
}
.wrapper-content {
  padding: 20px 10px 40px;
}
#page-wrapper {
  padding: 0 15px;
  position: relative !important;
  background:#f1f3f6   ;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 240px;
  }

}
.title-action {
  text-align: right;
  padding-top: 30px;
}

ul.unstyled,
ol.unstyled {
  list-style: none outside none;
  margin-left: 0;
}
.big-icon {
  font-size: 160px;
  color: #e5e6e7;
}

body.minimize-sidemenu .footer.fixed,
body.body-small.minimize-sidemenu .footer.fixed {
  margin: 0 0 0 70px;
}
body.body-small .footer.fixed {
  margin-left: 0px;
}
/* PANELS */
.page-heading {
  padding: 0px 10px 20px 10px;
}
.panel-heading h1,
.panel-heading h2 {
  margin-bottom: 5px;
}


/* PANELS */
.panel.blank-panel {
  background: none;
  margin: 0;
}
.blank-panel .panel-heading {
  padding-bottom: 0;
}

/* GLOBAL  */
.no-padding {
  padding: 0 !important;
}
.no-borders {
  border: none !important;
}
.no-margins {
  margin: 0 !important;
}
.no-top-border {
  border-top: 0 !important;
}
.border-left-right {
  border-left: 1px solid #e7eaec;
  border-right: 1px solid #e7eaec;
  border-top: none;
  border-bottom: none;
}
.full-width {
  width: 100% !important;
}
.link-block {
  font-size: 12px;
  padding: 10px;
}
.nav.navbar-top-links .link-block a {
  font-size: 12px;
}
.link-block a {
  font-size: 10px;
  color: inherit;
}
body.minimize-sidemenu .branding {
  display: none;
}
img.circle-border {
  border: 6px solid #FFFFFF;
  border-radius: 50%;
}
.branding {
  float: left;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 20px;
  text-align: center;
  background-color: #1ab394;
}
.login-panel {
  margin-top: 25%;
}
.icons-box h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.icons-box .infont a i {
  font-size: 25px;
  display: block;
  color: #676a6c;
}
.icons-box .infont a {
  color: #a6a8a9;
}
.icons-box .infont a {
  padding: 10px;
  margin: 1px;
  display: block;
}
.ui-draggable .ibox-title {
  cursor: move;
}
/* Breadcrumb */
.page-content .breadcrumb {

  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  box-shadow: none;
  background-color: transparent;  
  padding:0px !important;
  border:none !important;  
  margin-bottom:0px;
}

.page-content .breadcrumb a, 
.page-content .breadcrumb i, 
.page-content .breadcrumb span, .page-content .breadcrumb li {
  color:#515050;
  font-weight:300;
  text-shadow:none;

}
.page-content .breadcrumb a{
  margin-left:10px;
}
.page-content .breadcrumb li p{
 font-size: 12.5px !important;
 font-weight:400;
  color:#7b7d82;
}
.page-content .breadcrumb li .active{
  font-weight:600;
    font-size: 14px;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #515050;
    font-family: FontAwesome;
    content: "\f105";
}
code {
  background-color: #F9F2F4;
  border-radius: 4px;
  color: #ca4440;
  font-size: 90%;
  padding: 2px 4px;
  white-space: nowrap;
}

/* BACKGROUNDS */
.gray-bg {
  background-color: #f3f3f4;
}
.white-bg {
  background-color: #ffffff;
}
.navy-bg {
  background-color: #1ab394;
  color: #ffffff;
}
.blue-bg {
  background-color: #1c84c6;
  color: #ffffff;
}
.lazur-bg {
  background-color: #23c6c8;
  color: #ffffff;
}
.yellow-bg {
  background-color: #f8ac59;
  color: #ffffff;
}
.red-bg {
  background-color: #ed5565;
  color: #ffffff;
}
.black-bg {
  background-color: #262626;
}
.panel-primary {
  border-color: #1ab394;
}
.panel-primary > .panel-heading {
  background-color: #1ab394;
  border-color: #1ab394;
}
.panel-success {
  border-color: #1c84c6;
}
.panel-success > .panel-heading {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #ffffff;
}
.panel-info {
  border-color: #23c6c8;
}
.panel-info > .panel-heading {
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: #ffffff;
}
.panel-warning {
  border-color: #f8ac59;
}
.panel-warning > .panel-heading {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #ffffff;
}
.panel-danger {
  border-color: #ed5565;
}
.panel-danger > .panel-heading {
  background-color: #ed5565;
  border-color: #ed5565;
  color: #ffffff;
}
.progress-bar {
  background-color: #1ab394;
}
.progress-small,
.progress-small .progress-bar {
  height: 10px;
}
.progress-small,
.progress-mini {
  margin-top: 5px;
}
.progress-mini,
.progress-mini .progress-bar {
  height: 5px;
  margin-bottom: 0px;
}
.progress-bar-navy-light {
  background-color: #3dc7ab;
}
.progress-bar-success {
  background-color: #1c84c6;
}
.progress-bar-info {
  background-color: #23c6c8;
}
.progress-bar-warning {
  background-color: #f8ac59;
}
.progress-bar-danger {
  background-color: #ed5565;
}
.panel-title {
  font-size: inherit;
}
.jumbotron {
  border-radius: 6px;
}
.jumbotron h1 {
  margin-top: 0;
}
/* Font Colors */

.text-black {
  color: #1b1e24 !important;
}

.text-white {
  color: #fff !important;
}

.text-success{
  color:#0AA699 !important;
}
.text-info{
  color:#0090D9 !important;
}
.text-warning{
  color:#fbb05e !important;
}
.text-error{
  color:#F35958 !important;
}

.text-right{
  text-align:right !important;
}

.text-left{
  text-align:left !important;
}

.text-center{
  text-align:center !important;
}



/* margin pading */
.p-xxs {
  padding: 5px;
}
.p-xs {
  padding: 10px;
}
.p-sm {
  padding: 15px;
}
.p-m {
  padding: 20px;
}
.p-md {
  padding: 25px;
}
.p-lg {
  padding: 30px;
}
.p-xl {
  padding: 40px;
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.space-15 {
  margin: 15px 0;
}
.space-20 {
  margin: 20px 0;
}
.space-25 {
  margin: 25px 0;
}
.space-30 {
  margin: 30px 0;
}

/* LOGIN  LOCKSCREEN*/
.middle-box {
  width: 400px;
  top: 0;
  margin: 100px auto 0;
  z-index: 100; padding:20px; 
  padding: 0 20px 20px;
  color: #333;
   
 
}
.middle-box .inner{
 background: #fff ;
  padding: 20px;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.middle-box .inner:hover {
  box-shadow: 0 0 40px #ddd;
}
.middle-box .inner a{


}
.middle-box .inner .tab-content {

}

.middle-box .logo-login {
  border-bottom:dashed 1px #ddd; padding:0px 0 10px;  text-align:center;
}

.middle-box h1 {
  font-size: 40px;letter-spacing:-2px; margin:5px 0; ;
}
  .navbar-header-title {
    float: left; font-size: 16px; line-height: 55px; font-weight:600;
    
  } 
  .navbar-header-title small{
    font-size: 12px;     font-weight: 500;
  }
    

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 180px;
  }
  .navbar-static-side {
    z-index: 101;
    position: absolute;
    width: 230px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
  
}
.minimal-header{  
  display: none;
}
@media (max-width: 768px) {

  #page-wrapper {
    position: inherit;
    margin: 0 0 0 0px;
    min-height: 1000px;
  }
  .body-small .navbar-static-side , .body-small .navbar-fixed-side {
    display: none;
    z-index: 1;
    position: absolute;
    width: 70px;
  }
 
  .body-small.minimize-sidemenu .navbar-fixed-side {
    width: 70px;
    display: block;
  }  
  .body-small.minimize-sidemenu .navbar-static-side {
    display: block;
  }



  .lock-word {
    display: none;
  }
  .navbar-form-custom {
    display: none;
  }
  .navbar-header {
    display: inline;
    float: left;
  }
  .navbar-header-title {
    display: none;
    float: left;
  }  
  .sidebard-panel {
    z-index: 2;
    position: relative;
    width: auto;
    min-height: 100% !important;
  }
  .sidebar-content .wrapper {
    padding-right: 0px;
    z-index: 1;
  }

  .minimal-header{
    display: block;
    padding: 20px 0px;
    text-align: center;
    margin: 0 -15px;
    padding: 15px 0;
    background: #1d2b36 ;
  }   
}

.bg-white { background:#fff;}

/*Nestable lists*/
.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }
.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }
.dd-handle { cursor:default;display: block; margin: 5px 0; padding: 7px 10px; color: #333; text-decoration: none; border: 1px solid #ddd;
background: #fff;
}

.dd-handle:hover { color: #FFF; background: #4D90FD; border-color:#428BCA; }

.dd-item > button { color:#555;font-family: FontAwesome;display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 8px 2px; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 10px; line-height: 1; text-align: center; }
.dd-item > button:before {  display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { }
.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #FFF; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
-webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
-moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
background-size: 60px 60px;
background-position: 0 0, 30px 30px;
}
.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
-webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

.dd3-content { 
display: block; 
margin: 5px 0; 
padding: 2px 10px 2px 40px; color: #333; text-decoration: none;
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #DDDDDD;
color: #333333;
background: #fff; /* Old browsers */
}
.dd3-content:hover { background: #fff; }
.dd-dragel > .dd3-item > .dd3-content { margin: 0; }
.dd3-item > button { margin-left: 35px; }
.dd3-handle { position: absolute; 
margin: 0; left: 0; top: 0; 
cursor: all-scroll; 
width: 34px; 
text-indent: 100%; 
white-space: nowrap; 
overflow: hidden;
border: 1px solid #3276B1;
background: #428BCA;
height:26px;
box-shadow:1px 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.dd3-handle:before { content: '='; display: block; position: absolute; left: 0; top: 2px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 12px; font-weight: normal; }
.dd3-handle:hover { background: #4E9DFF; } 


.infobox {
    border-left: 3px solid #EEEEEE;
    margin: 0 0 35px;
    padding: 20px;
}
.infobox h5 {
    margin-bottom: 6px;
    margin-top: 0;
}
.infobox p:last-child {
    margin-bottom: 0; font-size: 11px !important;
}
.infobox code {
    background-color: #FFFFFF;
    border-radius: 3px;
}
.infobox-default {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
}
.infobox-default h5 {
    color: #555555;
}
.infobox-danger {
    background-color: #FDF7F7;
    border-color: #D65C4F;
}
.infobox-danger h5 {
    color: #D65C4F;
}
.infobox-warning {
    background-color: #FCF8F2;
    border-color: #E7804F;
}
.infobox-warning h5 {
    color: #E7804F;
}
.infobox-info {
    background-color: #F2F7F9;
    border-color: #1992C2;
}
.infobox-info h5 {
    color: #1992C2;
}
.infobox-success {
    background-color: #F4FAF5;
    border-color: #239169;
}
.infobox-success h5 {
    color: #239169;
}

.info-blocks {
    list-style: none outside none;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    width: 100%;
}
.info-blocks > li {
    display: inline-block;
    margin: 0 10px 5px;
    min-width: 150px;
    text-align: center;
    white-space: nowrap;
}
.info-blocks > li > a > i {
    display: inline-block;
    font-size: 48px;
    margin-bottom: 20px;
}
.info-blocks > li > a:hover {
    color: #FFFFFF;
    opacity: 0.8;
}
.top-info {
    margin: 16px 14px 14px;
}
.top-info > a {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}
.top-info > a:hover {
    color: #FFFFFF;
    opacity: 0.8;
}
.top-info > small {
    display: block;
    font-size: 11px;
    margin-top: -2px;
}
.bottom-info {
    border-radius: 0 0 2px 2px;
    display: block;
    font-size: 11px;
    font-weight: 600;
    padding: 4px 8px 5px;
}
@media (max-width: 478px) {
  .info-blocks > li {
    margin: 10px 0;
    width: 100%;
  }
 
}

.sbox-title h1,
.sbox-title h2,
.sbox-title h3,
.sbox-title h4,
.sbox-title h5 {
  margin: 0px;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0 1px 0 #fff; 
  display: inline-block;
}
.sbox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  background: #fff;
  border-radius: 0px; 
  border-top: solid 2px #e7eaec;
 
}
.sbox:after,
.sbox:before {
  display: table;
}
.sbox-title {
  border-bottom: solid 1px #eee;
  color: inherit;
  margin-bottom: 0;
  padding: 10px 15px 10px;
 
}
.sbox.bg-gray { border-top: none; }
.sbox.bg-gray .sbox-title { border-bottom: none }

.sbox-title .i-sym{ margin-right: 5px; }
.sbox-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    padding: 0;
    position: relative;
}
.sbox-tools a {
    color: #ccc;
    cursor: pointer;
    margin-left: 5px;
    padding: 2px 5px; font-size: 12px;
}
.sbox-tools a  i{
     font-size: 14px;
}
.sbox-content {
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #ddd;
  border-image: none;
 
  border-width: 1px 0px;
}
.sbox-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    padding: 0;
    position: relative;
}
.sbox-tools .btn-save{ 
  border: solid 1px #1ab394;
  background: #1ab394;
  color: #fff;
  padding: 4px 20px;
}
.sbox-tools .btn-apply{ 
  border: solid 1px #23c6c8;
  background: #23c6c8;
  color: #fff;
  padding: 4px 20px;
}
.page-header {
  margin-top: 58px; 
  margin-bottom: 0px;
 padding: 10px 25px;
  border-width: 1px 0 1px ;
  border-color: #e7eaec;   
  background: #fff;
}
.page-header h2 , .page-header h3 , .page-header h4 , .page-header h5{
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 12px 0;

} 
.breadcrumb { 
  padding: 5px 0 0; 
  background: none; 
  float: right;
  padding: 10px 0 0 ;
  margin-bottom: 10px;
  font-size: 11px;
}
fieldset { margin:10px 0; border-radius:0px !important }
fieldset legend { font-size:13px; padding:5px 30px; font-weight:600; border-radius:0px !important }
.table-responsive {   overflow-x:auto; padding: 10px;}
.toolbar { margin:10px 0; clear:both; text-align:right;}
.toolbar-line { margin:15px 0; clear:both; }
.page-content-wrapper { 
   margin: 98px 40px 40px;
    border-radius: 4px; 
   
}
.page-content-wrapper.no-margin {
  margin: 20px 40px 15px;
}
body.minimize-sidemenu #page-wrapper {
  margin: 0 0 0 70px;

}


body.body-small .page-content-wrapper {
  margin: 68px 10px 10px;
}
body.body-small .page-content-wrapper.no-margin {
  margin: 10px 10px 10px;
}
body.body-small #page-wrapper {
  margin: 0 0 0 0px;

}
body.body-small.minimize-sidemenu #page-wrapper {
  margin: 0 0 0 70px;

}

.page-content { margin-bottom:25px;}

.ribon-sximo { margin:20px 0; background: #fff;}
.ribon-sximo a{ color: #fff;}
.ribon-sximo .ribon-module { background:#ff5722;  color: #fff ; height: 110px;}
.ribon-sximo .ribon-setting { background: #0097a7; color: #fff ; height: 110px;}
.ribon-sximo .ribon-menu { background: #009688; color: #fff ; height: 110px;}
.ribon-sximo .ribon-install { background:#e91e63; color: #fff ; height: 110px;}
.ribon-sximo .ribon-white { background: #fff; color: #333; height: 110px;}

.ribon-sximo .ribon-grey { background:#f5f5f5;  color: #666 ; height: 110px;}
.ribon-sximo .ribon-grey2 { background: #f0f0f0; color: #666 ; height: 110px;}
.ribon-sximo .ribon-grey3 { background: #eee; color: #666 ; height: 110px;}
.ribon-sximo .ribon-grey4 { background:#e5e5e5; color: #666 ; height: 110px;}
.ribon-sximo .ribon-gre5 { background: #d5d5d5; color: #666; height: 110px;}

.ribon-sximo .ribon-grey a ,.ribon-sximo .ribon-grey2 a ,.ribon-sximo .ribon-grey3 a ,.ribon-sximo .ribon-grey4 a {
  color: #222;text-shadow: 0 1px 0 #fff;
}
.ribon-sximo .ribon-grey a i,.ribon-sximo .ribon-grey2 a i,.ribon-sximo .ribon-grey3 a i,.ribon-sximo .ribon-grey4 a i{
 
  
}
/* dashboard */
.shortcut { }
.shortcut i{ font-size:50px;  color: #111; text-shadow: 0 1px 0 #fff;} 
.shortcut span.h3{ font-weight:400 !important; font-size:16px; display: block; }
.shortcut span.h3 {  }

/* Modal */
.modal-header { background: #666; color: #fff; text-shadow: 0 1px 0 #111; }



.panel { background:none !important;; border-color:none !important;}
.panel.panel-default { background:none !important;; border-color:#eee !important;}

/* Back to to */
.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0px;
  text-decoration: none;
  color: #FFF;
  background-color: #4FA2C2;
  font-size: 12px;
  padding: 9px 12px;
  display: none;
}
.back-to-top i {
  font-size: 15px;
}
.back-to-top:hover {
  color: #FFF;
  background-color: #3A4B55;
}
.back-to-top:focus {
  color: #FFF;
}


/*Validation*/
.parsley-error-list {
  margin-top: 4px;
  padding: 0;
  background: #cc0000 ;
  border-radius: 4px;
  font-weight: 600;
}
.parsley-error-list li {
  padding: 0;
  list-style: none;
  color: #fff;
  padding: 2px 0 0 15px
}
.parsley-error {
  border-color: #c00 !important;
}
ul.parsley-errors-list{
  list-style: none;
    padding: 0;
  margin: 0;
}
ul.parsley-errors-list li{
  color: #cc0000;
  font-size: 11px;
  font-style: italic;

}
/* clear div */
.clr { clear:both;}

/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */.prettyprint {
  background: #f4fbf4;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

.pln {
  color: #131513;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #809980;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #f4fbf4;
  list-style-type: decimal;
}

@media screen {

  /* string content */

  .str {
    color: #29a329;
  }

  /* keyword */

  .kwd {
    color: #ad2bee;
  }

  /* comment */

  .com {
    color: #809980;
  }

  /* type name */

  .typ {
    color: #3d62f5;
  }

  /* literal value */

  .lit {
    color: #87711d;
  }

  /* punctuation */

  .pun {
    color: #131513;
  }

  /* lisp open bracket */

  .opn {
    color: #131513;
  }

  /* lisp close bracket */

  .clo {
    color: #131513;
  }

  /* markup tag name */

  .tag {
    color: #e6193c;
  }

  /* markup attribute name */

  .atn {
    color: #87711d;
  }

  /* markup attribute value */

  .atv {
    color: #1999b3;
  }

  /* declaration */

  .dec {
    color: #87711d;
  }

  /* variable name */

  .var {
    color: #e6193c;
  }

  /* function name */

  .fun {
    color: #3d62f5;
  }
}

.icon-classes-showcase > span {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #DDDDDD;
    display: inline-block;
    font-size: 12px;
    margin: 0.5em 1em 0.5em 0;
    padding: 8px;
    width: 15em;
}
.icon-classes-showcase > span > i {
    float: left;
    margin: 1px 6px 0 0;
}
.icon-show  { font-size: 13px !important; padding: 0 10px;}
.icon-show  i{ margin-right: 5px } 
.icon-show  .col-md-3{ padding: 5px; border: solid 1px #ddd; background:#fff; margin-bottom: 3px; } 

/* select */
.select-alt { float:left; padding:5px 2px; border:solid 1px #ddd; margin-right:5px; font-size: 11px;}
.select2-container--default .select2-selection--multiple , .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #d4d4d4 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color :#f9f9f9;
  border: 1px solid #d4d4d4 !important;
  line-height: 1.4;
}
.select2-container--default .select2-selection--single {
   border: 1px solid #d4d4d4 !important; 
   border-radius:0px;
   -moz-border-radius:0px;

}
.select2-results__option[aria-selected] {
  font-size: 12px;
}

.footer-pagination ul.pagination { float:right;}


.theme-config {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 80px;
}
.theme-config-box {
    margin-right: -220px;
    position: relative;
    transition-duration: 0.8s;
    z-index: 2000;
}
.theme-config-box.show {
    margin-right: 0;
}
.spin-icon {
    background: #1ab394 none repeat scroll 0 0;
    border-radius: 20px 0 0 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    left: 0;
    padding: 7px 10px 7px 13px;
    position: absolute;
    top: 0;
    width: 40px;
}
.skin-setttings {
    background: #f3f3f4 none repeat scroll 0 0;
    margin-left: 40px;
    width: 220px;
}
.skin-setttings .title {
    background: #efefef none repeat scroll 0 0;
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
}
.setings-item {
    padding: 10px 30px;
}

.setings-item ul {
    padding: 0; margin: 0; list-style: none;
}
.setings-item ul li{ border-top: solid 1px #eee; }

.setings-item ul li a{
  color: #666; display: block; padding: 5px 2px; font-size: 11px; 

}
.setings-item ul li a span{
    width: 30px; height: 16px; border: solid 1px #ddd; 

}
.setings-item ul li a span.dark-blue-skin{ background: #364150;}
.setings-item ul li a span.light-blue-skin{ background: #4276a4;}
.setings-item ul li a span.black-skin{ background: #111;}
.setings-item ul li a span.default-skin{ background: #3ea49d;}


.footer.fixed {
    background:#fff;
    border-top: solid 1px #e7eaec;   
    bottom: 0;
    left: 0;
    margin-left: 180px;
    padding: 10px 20px;
    position: fixed;
    right: 0;
    z-index: 101;
    font-size: 11px;
}
/* CSS Document */


.ajaxLoading { background:#fff url(../images/loading.gif) no-repeat center center; display:none; height:200px; position:absolute; width:100%; opacity: 0.5; left:0; top:0; height: 100%; z-index:9999;}

.btn-toolbar .btn-default {
    background-color: #fff;
    border-color: #c2c2c2;
    color: #333;

}
.thumb-image { float: left; padding: 5px; border: solid 1px #e9e9e9; margin:5px 10px 5px 0; }
.thumb-image .remove-uploaded-file { 
    background: #333 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    margin-left: 80px;
    padding: 3px 8px 5px;
    position: absolute;
}
ul.uploadedLists { margin: 0; padding: 0; list-style: none;}
ul.uploadedLists li {
    border: 1px solid #eee;
    display: inline-block;
    float: left;
    margin: 5px 10px 5px 0;
    padding: 5px;
    width: 120px;
    text-align: center;
    font-size: 11px;
}
ul.uploadedLists li a i{ 
  font-size: 30px;
}
ul.uploadedLists li span { 
  position: absolute;
  top: 30px;
}
.note-editor { border: solid 1px #ddd !important }
.note-editor .note-toolbar { border-bottom: solid 1px #e5e5e5 !important; background: #fff !important }
.note-editor .note-editable {  }
.note-editor .btn{ font-size: 11px !important; border: none !important; }


 .nav > li > a.avatar > img {} 
 table.display tfoot tr th .form-control{ width: 75% !important; font-weight: 500; } 

.has-feedback .form-control-feedback {
  line-height:24px; height: 24px;
}

ul.icons-right li a  { line-height: 28px;  } 
ul.icons-right li a i.fa { font-size: 16px !important; margin-right: 6px; } 



/* ALERT CONTEXTUALS
 */

.alert-danger { background: #da4453; border-color: #da4453;  color: #fff; }
.alert-warning  { background: #f6bb42; border-color: #f6bb42;   color: #fff; }
.alert-primary { background: #967adc; border-color: #967adc;   color: #fff; }
.alert-success { background: #37bc9b; border-color: #37bc9b;   color: #fff; }
.alert-info { background: #3bafda; border-color: #3bafda;   color: #fff; }

.CrudEngineForm { font-size: 13px !important; }
.sximo-page{ padding: 20px 0; }
.sximo_tools { padding: 10px 0; }
.code-line { margin-bottom: 20px; }
pre { background: #f9f9f9; border: solid 1px #ddd; padding: 20px; }

fieldset{ border: solid 1px #e9e9e9; padding: 20px; margin-bottom: 20px; border-radius: 4px; }
legend { padding: 5px 20px; font-size: 16px; border: solid 1px #e9e9e9; width: auto !important; border-radius: 4px;}

.note-editor { border: solid 1px #e9e9e9; font-size: 13px;  }
.note-editor button{ font-size :11px; background: #fff !important; }
.note-editor .note-popover .popover .popover-content, .panel-heading.note-toolbar{ border-bottom: solid 1px #e9e9e9; }


/* Datatables CSS *
/* DATATABLES  */

.table > thead > tr > th { 
    border-bottom-width : 1px; 
    border-bottom:1px solid #eee !important; 
    border-top:1px solid #eee !important; 
}
.table > tbody > tr > td { border-bottom-width : 1px; border-top: none !important; }
div.dt-buttons { float: right !important; }
.dataTables_wrapper .dataTables_filter { padding-right: 10px !important; padding-top: 2px !important; }
.dataTables_filter {display: none;}
td.details-control {
      background: url('../resources/details_open.png') no-repeat center center;
     
      cursor: pointer; width: 50px !important;
      position: relative;
  }
  td.details-control:before {
     content :  "\f055";
      font-family: FontAwesome;
     font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
  /*--adjust as necessary--*/
      color: #00a65a;
      font-size: 18px;

  }
  tr.shown td.details-control {
      background: url('../resources/details_close.png') no-repeat center center;
      width: 50px !important;
  }
  tr.shown td.details-control:before {
     content :  "\f056";
     font-family: FontAwesome;
      color: #3c8dbc;
  }
  table.dataTable tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
   background-color: #f0f0f0   !important; 
  }

  table.display tbody tr.selected td, table.dataTable.display tbody tr.selected td {
   background-color: #f0f0f0   !important;  
  }

  .dataselect { width: 100%; }

button.dt-button, div.dt-button, a.dt-button {
  background: #fff; border-radius: 0 !important; border: solid 1px #eee;
}

button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled){
  background: #fafafa; border-radius: 0 !important; border: solid 1px #eee;
}

 
table.dataTable thead .sorting, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background: transparent none repeat scroll 0 0;
}
.dataTables_wrapper {
    padding-bottom: 30px;
}
.dataTables_length {
    float: left;
}
.dataTables_filter label {
    margin-right: 5px;
  }
.note-editor { border: solid 1px #e9e9e9; font-size: 13px;  }
.note-editor button{ font-size :11px; background: #fff !important; }
.note-editor .note-popover .popover .popover-content, .panel-heading.note-toolbar{ border-bottom: solid 1px #e9e9e9; }  

/*Notification */
ul#notification-menu { 
    width: 250px; 
    margin: 0; 
    padding: 0; 
}
ul#notification-menu li { 
    border-bottom: solid 1px #f5f5f5; 
}
ul#notification-menu .message-center{ 
    clear: both; 
    padding: 0px 10px; 
}
ul#notification-menu li .message-center .user-img { 
    width: 40px; 
    float: left; 
}
ul#notification-menu li .message-center .note-content{ 
    margin-left: 45px; 
    position: relative;  
}
ul.dropdown-menu  li.footer a{ 
    text-align: center; 
    background: #f9f9f9; 
    font-weight: 500 
}
    /* Dashboard */
.dashboard { padding: 20px 0; }
.dashboard .block{ 
    border-right: solid 1px #f5f5f5; 
    padding:0 10px;    
}
.dashboard .block:last{ 
    border-right: none   
}
.dashboard .icon { 
    float: left   
}
.dashboard .icon i{ 
    font-size: 40px;
} 
.dashboard .stats { 
    float: right; display: 
    inline-block; 
    font-size: 30px;   
}
.dashboard .analytic { 
    padding: 10px 0; 
    font-size: 16px;  
}
.sximo-tools {
  padding: 20px 0;
}

/* A Content CMS Admin */

  .album {  margin-bottom: 20px; }
  .album .title{ 
    padding: 5px 10px; 
    font-weight: 600; 
    text-align: center; 
    border-bottom: solid 1px #e9e9e9; 
  }
  .album .img{ 
    height: 150px; 
    height:  200px;
    border: dotted 2px #eee;
    overflow: hidden;
    position: relative;   
  }
  .album .img a{ 
    display: block;
  }
  .album .img img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);      
  }
  .album .img .text {
    padding: 50px 0;    
    color: #ccc;
    text-align: center;
  }
  .album .img .text i{
    font-size: 40px;
  }
  .album .img h3{ 
    text-align: center; 
    padding: 20px 0; 
    opacity: 0.3; 
  }
  .album .tools{ 
    padding: 5px 10px; 
    
    font-weight: 500; 
    text-align: center; 
    
  }
  .button-save { display: none; }
  .update-mode.button-save { display: block; }
  .gallery-image {
    width: 160px; 
    height: 250px;
    float: left;
    margin: 0 15px 15px 0;
    overflow: hidden;
  }
  .gallery-image .thumb{ 
    height: 150px;
    height: 150px;
    border: dotted 2px #eee;
    overflow: hidden;
    position: relative;
  }
  .gallery-image .thumb img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);  
    
  }
  .gallery-image .info .name{ 
    font-weight: 600; text-align: center;
    line-height: 1.7em;
  }
  .gallery-image  .edit{ 
    display: none;
  }

  .gallery-image.update-mode {
    width: 48%;
    margin: 0 10px 20px 0;
    height: 170px;
  }
  .gallery-image.update-mode .thumb{
    height: 150px;
    width: 150px;
    border: dotted 2px #eee;
    overflow: hidden;
    float: left;
    position: relative;
  }
  .gallery-image.update-mode .info{
    display: none;
  }
  .gallery-image.update-mode .edit{
    display: block;
    width: auto;
    margin-left: 180px; 
    
  }

/* Preloading */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/* Button , label */
.bg-primary {
  background: #1ab394 !important; 
   color: #FFFFFF;
}

.btn-primary {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #FFFFFF !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #18a689;
  border-color: #18a689;
  color: #FFFFFF;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
   background-color: #18a689;
  border-color: #18a689;
  color: #FFFFFF; 
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #1dc5a3;
  border-color: #1dc5a3;
}
.btn-success {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #FFFFFF;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success.active:focus {
  background-color: #1a7bb9;
  border-color: #1a7bb9;
  color: #FFFFFF;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success.active[disabled],
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
  background-color: #1f90d8;
  border-color: #1f90d8;
}
.btn-info {
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: #FFFFFF;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info,
.btn-info:active:focus,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info.active:focus {
  background-color: #21b9bb;
  border-color: #21b9bb;
  color: #FFFFFF;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info.active[disabled],
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
  background-color: #26d7d9;
  border-color: #26d7d9;
}
.btn-default {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default.active:focus {
  color: inherit;
  border: 1px solid #d2d2d2;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
  color: #cacaca;
}
.btn-warning {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #FFFFFF;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning,
.btn-warning:active:focus,
.btn-warning:active:hover,
.btn-warning.active:hover,
.btn-warning.active:focus {
  background-color: #f7a54a;
  border-color: #f7a54a;
  color: #FFFFFF;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning.active[disabled],
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
  background-color: #f9b66d;
  border-color: #f9b66d;
}
.btn-danger {
  background-color: #ed5565;
  border-color: #ed5565;
  color: #FFFFFF;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger.active:hover,
.btn-danger.active:focus {
  background-color: #ec4758;
  border-color: #ec4758;
  color: #FFFFFF;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger.active[disabled],
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
  background-color: #ef6776;
  border-color: #ef6776;
}

/* Widget */
.widget {
  padding: 15px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius:5px;
}
.widget h2{
  font-size: 16px;
  font-weight: 700;

}
/* NAVBAR CSS */

.scroll-wrapper{overflow:hidden!important;padding:0!important;position:relative}.scroll-wrapper>.scroll-content{border:none!important;box-sizing:content-box!important;height:auto;left:0;margin:0;max-height:none;max-width:none!important;overflow:scroll!important;padding:0;position:relative!important;top:0;width:auto!important}.scroll-wrapper>.scroll-content::-webkit-scrollbar{height:0;width:0}.scroll-element{display:none}.scroll-element,.scroll-element div{box-sizing:content-box}.scroll-element.scroll-x.scroll-scrollx_visible,.scroll-element.scroll-y.scroll-scrolly_visible{display:block}.scroll-element .scroll-arrow,.scroll-element .scroll-bar{cursor:default}.scroll-textarea{border:1px solid #ccc;border-top-color:#999}.scroll-textarea>.scroll-content{overflow:hidden!important}.scroll-textarea>.scroll-content>textarea{border:none!important;box-sizing:border-box;height:100%!important;margin:0;max-height:none!important;max-width:none!important;overflow:scroll!important;outline:0;padding:2px;position:relative!important;top:0;width:100%!important}.scrollbar-inner>.scroll-element .scroll-element_outer,.scrollbar-outer>.scroll-element .scroll-element_outer{overflow:hidden}.scroll-textarea>.scroll-content>textarea::-webkit-scrollbar{height:0;width:0}.scrollbar-inner>.scroll-element,.scrollbar-inner>.scroll-element div{border:none;margin:0;padding:0;position:absolute;z-index:10}.scrollbar-inner>.scroll-element div{display:block;height:100%;left:0;top:0;width:100%}.scrollbar-inner>.scroll-element.scroll-x{bottom:2px;height:8px;left:0;width:100%}.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size,.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track{left:-12px}.scrollbar-inner>.scroll-element.scroll-y{height:100%;right:2px;top:0;width:8px}.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size,.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track{top:-12px}.scrollbar-inner>.scroll-element .scroll-bar,.scrollbar-inner>.scroll-element .scroll-element_outer,.scrollbar-inner>.scroll-element .scroll-element_track{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px}.scrollbar-inner>.scroll-element .scroll-bar,.scrollbar-inner>.scroll-element .scroll-element_track{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:alpha(opacity=40);opacity:.4}.scrollbar-inner>.scroll-element .scroll-element_track{background-color:#e0e0e0}.scrollbar-inner>.scroll-element .scroll-bar{background-color:#c2c2c2}.scrollbar-inner>.scroll-element.scroll-draggable .scroll-bar,.scrollbar-inner>.scroll-element:hover .scroll-bar{background-color:#919191}.scrollbar-outer>.scroll-element,.scrollbar-outer>.scroll-element div{border:none;margin:0;padding:0;position:absolute;z-index:10}.scrollbar-outer>.scroll-element{background-color:#fff}.scrollbar-outer>.scroll-element div{display:block;height:100%;left:0;top:0;width:100%}.scrollbar-outer>.scroll-element.scroll-x{bottom:0;height:12px;left:0;width:100%}.scrollbar-outer>.scroll-element.scroll-y{height:100%;right:0;top:0;width:12px}.scrollbar-outer>.scroll-element.scroll-x .scroll-element_outer{height:8px;top:2px}.scrollbar-outer>.scroll-element.scroll-y .scroll-element_outer{left:2px;width:8px}.scrollbar-outer>.scroll-element .scroll-element_track{background-color:#eee}.scrollbar-outer>.scroll-element .scroll-bar,.scrollbar-outer>.scroll-element .scroll-element_outer,.scrollbar-outer>.scroll-element .scroll-element_track{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px}.scrollbar-outer>.scroll-element .scroll-bar{background-color:#d9d9d9}.scrollbar-outer>.scroll-element .scroll-bar:hover{background-color:#c2c2c2}.scrollbar-outer>.scroll-element.scroll-draggable .scroll-bar{background-color:#919191}.scrollbar-outer>.scroll-content.scroll-scrolly_visible{left:-12px;margin-left:12px}.scrollbar-outer>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size,.scrollbar-outer>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track{left:-14px}.scrollbar-outer>.scroll-content.scroll-scrollx_visible{top:-12px;margin-top:12px}.scrollbar-outer>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size,.scrollbar-outer>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track{top:-14px}.scrollbar-outer>.scroll-element.scroll-x .scroll-bar{min-width:10px}.scrollbar-outer>.scroll-element.scroll-y .scroll-bar{min-height:10px}.scrollbar-macosx>.scroll-element,.scrollbar-macosx>.scroll-element div{background:0 0;border:none;margin:0;padding:0;position:absolute;z-index:10}.scrollbar-macosx>.scroll-element div{display:block;height:100%;left:0;top:0;width:100%}.scrollbar-macosx>.scroll-element .scroll-element_track{display:none}.scrollbar-macosx>.scroll-element .scroll-bar{background-color:#6C6E71;display:block;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;-webkit-transition:opacity .2s linear;-moz-transition:opacity .2s linear;-o-transition:opacity .2s linear;-ms-transition:opacity .2s linear;transition:opacity .2s linear}.scrollbar-macosx:hover>.scroll-element .scroll-bar,.scrollbar-macosx>.scroll-element.scroll-draggable .scroll-bar{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);opacity:.7}.scrollbar-macosx>.scroll-element.scroll-x{bottom:0;height:0;left:0;min-width:100%;overflow:visible;width:100%}.scrollbar-macosx>.scroll-element.scroll-y{height:100%;min-height:100%;right:0;top:0;width:0}.scrollbar-macosx>.scroll-element.scroll-x .scroll-bar{height:7px;min-width:10px;top:-9px}.scrollbar-macosx>.scroll-element.scroll-y .scroll-bar{left:-9px;min-height:10px;width:7px}.scrollbar-macosx>.scroll-element.scroll-x .scroll-element_outer{left:2px}.scrollbar-macosx>.scroll-element.scroll-x .scroll-element_size{left:-4px}.scrollbar-macosx>.scroll-element.scroll-y .scroll-element_outer{top:2px}.scrollbar-macosx>.scroll-element.scroll-y .scroll-element_size{top:-4px}.scrollbar-macosx>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size{left:-11px}.scrollbar-macosx>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size{top:-11px}.scrollbar-light>.scroll-element,.scrollbar-light>.scroll-element div{border:none;margin:0;overflow:hidden;padding:0;position:absolute;z-index:10}.scrollbar-light>.scroll-element{background-color:#fff}.scrollbar-light>.scroll-element div{display:block;height:100%;left:0;top:0;width:100%}.scrollbar-light>.scroll-element .scroll-element_outer{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}.scrollbar-light>.scroll-element .scroll-element_size{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(left,#dbdbdb 0,#e8e8e8 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0,#dbdbdb),color-stop(100%,#e8e8e8));background:-webkit-linear-gradient(left,#dbdbdb 0,#e8e8e8 100%);background:-o-linear-gradient(left,#dbdbdb 0,#e8e8e8 100%);background:-ms-linear-gradient(left,#dbdbdb 0,#e8e8e8 100%);background:linear-gradient(to right,#dbdbdb 0,#e8e8e8 100%);-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}.scrollbar-light>.scroll-element.scroll-x{bottom:0;height:17px;left:0;min-width:100%;width:100%}.scrollbar-light>.scroll-element.scroll-y{height:100%;min-height:100%;right:0;top:0;width:17px}.scrollbar-light>.scroll-element .scroll-bar{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(left,#fefefe 0,#f5f5f5 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0,#fefefe),color-stop(100%,#f5f5f5));background:-webkit-linear-gradient(left,#fefefe 0,#f5f5f5 100%);background:-o-linear-gradient(left,#fefefe 0,#f5f5f5 100%);background:-ms-linear-gradient(left,#fefefe 0,#f5f5f5 100%);background:linear-gradient(to right,#fefefe 0,#f5f5f5 100%);border:1px solid #dbdbdb;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}.scrollbar-light>.scroll-content.scroll-scrolly_visible{left:-17px;margin-left:17px}.scrollbar-light>.scroll-content.scroll-scrollx_visible{top:-17px;margin-top:17px}.scrollbar-light>.scroll-element.scroll-x .scroll-bar{height:10px;min-width:10px;top:0}.scrollbar-light>.scroll-element.scroll-y .scroll-bar{left:0;min-height:10px;width:10px}.scrollbar-light>.scroll-element.scroll-x .scroll-element_outer{height:12px;left:2px;top:2px}.scrollbar-light>.scroll-element.scroll-x .scroll-element_size{left:-4px}.scrollbar-light>.scroll-element.scroll-y .scroll-element_outer{left:2px;top:2px;width:12px}.scrollbar-light>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size,.scrollbar-light>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track{left:-19px}.scrollbar-light>.scroll-element.scroll-y .scroll-element_size{top:-4px}.scrollbar-light>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size,.scrollbar-light>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track{top:-19px}.scrollbar-rail>.scroll-element,.scrollbar-rail>.scroll-element div{border:none;margin:0;overflow:hidden;padding:0;position:absolute;z-index:10}.scrollbar-rail>.scroll-element{background-color:#fff}.scrollbar-rail>.scroll-element div{display:block;height:100%;left:0;top:0;width:100%}.scrollbar-rail>.scroll-element .scroll-element_size{background-color:#999;background-color:rgba(0,0,0,.3)}.scrollbar-rail>.scroll-element .scroll-element_outer:hover .scroll-element_size{background-color:#666;background-color:rgba(0,0,0,.5)}.scrollbar-rail>.scroll-element.scroll-x{bottom:0;height:12px;left:0;min-width:100%;padding:3px 0 2px;width:100%}.scrollbar-rail>.scroll-element.scroll-y{height:100%;min-height:100%;padding:0 2px 0 3px;right:0;top:0;width:12px}.scrollbar-rail>.scroll-element .scroll-bar{background-color:#d0b9a0;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;box-shadow:1px 1px 3px rgba(0,0,0,.5)}.scrollbar-rail>.scroll-element .scroll-element_outer:hover .scroll-bar{box-shadow:1px 1px 3px rgba(0,0,0,.6)}.scrollbar-rail>.scroll-content.scroll-scrolly_visible{left:-17px;margin-left:17px}.scrollbar-rail>.scroll-content.scroll-scrollx_visible{margin-top:17px;top:-17px}.scrollbar-rail>.scroll-element.scroll-x .scroll-bar{height:10px;min-width:10px;top:1px}.scrollbar-rail>.scroll-element.scroll-y .scroll-bar{left:1px;min-height:10px;width:10px}.scrollbar-rail>.scroll-element.scroll-x .scroll-element_outer{height:15px;left:5px}.scrollbar-rail>.scroll-element.scroll-x .scroll-element_size{height:2px;left:-10px;top:5px}.scrollbar-rail>.scroll-element.scroll-y .scroll-element_outer{top:5px;width:15px}.scrollbar-rail>.scroll-element.scroll-y .scroll-element_size{left:5px;top:-10px;width:2px}.scrollbar-rail>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size,.scrollbar-rail>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track{left:-25px}.scrollbar-rail>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size,.scrollbar-rail>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track{top:-25px}.scrollbar-dynamic>.scroll-element,.scrollbar-dynamic>.scroll-element div{background:0 0;border:none;margin:0;padding:0;position:absolute;z-index:10}.scrollbar-dynamic>.scroll-element div{display:block;height:100%;left:0;top:0;width:100%}.scrollbar-dynamic>.scroll-element.scroll-x{bottom:2px;height:7px;left:0;min-width:100%;width:100%}.scrollbar-dynamic>.scroll-element.scroll-y{height:100%;min-height:100%;right:2px;top:0;width:7px}.scrollbar-dynamic>.scroll-element .scroll-element_outer{opacity:.3;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px}.scrollbar-dynamic>.scroll-element .scroll-element_size{background-color:#ccc;opacity:0;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;-ms-transition:opacity .2s;transition:opacity .2s}.scrollbar-dynamic>.scroll-element .scroll-bar{background-color:#6c6e71;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px}.scrollbar-dynamic>.scroll-element.scroll-x .scroll-bar{bottom:0;height:7px;min-width:24px;top:auto}.scrollbar-dynamic>.scroll-element.scroll-y .scroll-bar{left:auto;min-height:24px;right:0;width:7px}.scrollbar-dynamic>.scroll-element.scroll-x .scroll-element_outer{bottom:0;top:auto;left:2px;-webkit-transition:height .2s;-moz-transition:height .2s;-o-transition:height .2s;-ms-transition:height .2s;transition:height .2s}.scrollbar-dynamic>.scroll-element.scroll-y .scroll-element_outer{left:auto;right:0;top:2px;-webkit-transition:width .2s;-moz-transition:width .2s;-o-transition:width .2s;-ms-transition:width .2s;transition:width .2s}.scrollbar-dynamic>.scroll-element.scroll-x .scroll-element_size{left:-4px}.scrollbar-dynamic>.scroll-element.scroll-y .scroll-element_size{top:-4px}.scrollbar-dynamic>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size{left:-11px}.scrollbar-dynamic>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size{top:-11px}.scrollbar-dynamic>.scroll-element.scroll-draggable .scroll-element_outer,.scrollbar-dynamic>.scroll-element:hover .scroll-element_outer{overflow:hidden;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);opacity:.7}.scrollbar-dynamic>.scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size,.scrollbar-dynamic>.scroll-element:hover .scroll-element_outer .scroll-element_size{opacity:1}.scrollbar-dynamic>.scroll-element.scroll-draggable .scroll-element_outer .scroll-bar,.scrollbar-dynamic>.scroll-element:hover .scroll-element_outer .scroll-bar{height:100%;width:100%;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px}.scrollbar-dynamic>.scroll-element.scroll-x.scroll-draggable .scroll-element_outer,.scrollbar-dynamic>.scroll-element.scroll-x:hover .scroll-element_outer{height:20px;min-height:7px}.scrollbar-dynamic>.scroll-element.scroll-y.scroll-draggable .scroll-element_outer,.scrollbar-dynamic>.scroll-element.scroll-y:hover .scroll-element_outer{min-width:7px;width:20px}.scrollbar-chrome>.scroll-element,.scrollbar-chrome>.scroll-element div{border:none;margin:0;overflow:hidden;padding:0;position:absolute;z-index:10}.scrollbar-chrome>.scroll-element{background-color:#fff}.scrollbar-chrome>.scroll-element div{display:block;height:100%;left:0;top:0;width:100%}.scrollbar-chrome>.scroll-element .scroll-element_track{background:#f1f1f1;border:1px solid #dbdbdb}.scrollbar-chrome>.scroll-element.scroll-x{bottom:0;height:16px;left:0;min-width:100%;width:100%}.scrollbar-chrome>.scroll-element.scroll-y{height:100%;min-height:100%;right:0;top:0;width:16px}.scrollbar-chrome>.scroll-element .scroll-bar{background-color:#d9d9d9;border:1px solid #bdbdbd;cursor:default;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}.scrollbar-chrome>.scroll-element .scroll-bar:hover{background-color:#c2c2c2;border-color:#a9a9a9}.scrollbar-chrome>.scroll-element.scroll-draggable .scroll-bar{background-color:#919191;border-color:#7e7e7e}.scrollbar-chrome>.scroll-content.scroll-scrolly_visible{left:-16px;margin-left:16px}.scrollbar-chrome>.scroll-content.scroll-scrollx_visible{top:-16px;margin-top:16px}.scrollbar-chrome>.scroll-element.scroll-x .scroll-bar{height:8px;min-width:10px;top:3px}.scrollbar-chrome>.scroll-element.scroll-y .scroll-bar{left:3px;min-height:10px;width:8px}.scrollbar-chrome>.scroll-element.scroll-x .scroll-element_outer{border-left:1px solid #dbdbdb}.scrollbar-chrome>.scroll-element.scroll-x .scroll-element_track{height:14px;left:-3px}.scrollbar-chrome>.scroll-element.scroll-x .scroll-element_size{height:14px;left:-4px}.scrollbar-chrome>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size,.scrollbar-chrome>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track{left:-19px}.scrollbar-chrome>.scroll-element.scroll-y .scroll-element_outer{border-top:1px solid #dbdbdb}.scrollbar-chrome>.scroll-element.scroll-y .scroll-element_track{top:-3px;width:14px}.scrollbar-chrome>.scroll-element.scroll-y .scroll-element_size{top:-4px;width:14px}.scrollbar-chrome>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size,.scrollbar-chrome>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track{top:-19px}


  .sidebar-right {
    position: fixed;
    width: 220px;
    background: #fff;
    height: 100%;
    top: 57px;
    right: 0;
    border-left: solid 1px #eee;
    display: none;
    z-index: 99;

  }
   .sidebar-right .header{
   
    font-weight: 600;
    background: #2f4050  ;
     
   
   }
  .sidebar-right .inner {
    font-size: 13px;
    padding: 20px;
   
  } 
   .sidebar-right  .title{
    padding: 20px;
    background: #f9f9f9;

   }
    .sidebar-right  .title h3{
      font-size: 16px; 
      font-weight: 600;
      margin: 0;
      padding: 0 0 5px 0;
    }
   .sidebar-right .inner h3{
    font-weight: 600;
    font-size: 14px;
    border-bottom: solid 1px #eee;
    padding-bottom: 10px;
    margin:0 0 10px 0;
   }
  .sidebar-right .inner ul{
    list-style: none;
    padding: 0;
    margin-left: 0;
  }
   .sidebar-right .inner ul li a span{
      float: right;
      color:#ddd;
      font-size: 11px;
   } 

   .sidebar-right .nav-tabs {
    border-bottom: none;
   }
  .sidebar-right .nav.nav-tabs {
    list-style: none;
    margin: 0;
    padding: 0    
  } 
   ul.mysetting  {
    list-style: none;
    padding: 0;
    margin: 0;
   }
   ul.mysetting > li {
    border:none !important;
    float: left;
   }
   ul.mysetting  > li > a {
      padding: 10px 15px;
      border-radius: 0px;
      font-size: 13px;
      border-style: none;
       color: #fff;
       display: block;

  }  
   ul.mysetting > li.active > a {
    
    color: #333;
    background:#f9f9f9;
  }

  /* notification system */
  .notif_system { width: 180px; }
  .notif_system #chat_msg , .notif_system #chat_msg {
    width: 220px;
    margin-left: 2px;
    margin-top: -5px;
  }
  .notif_system .message-center{

  }
  .notif_system .message-center .user-img{
    width: 40px; float: left;
  }
  .notif_system .message-center .note-content{
    margin-left: 40px;
  }
  .notif_system .message-center .note-content .time{
    font-size: 10px; clear: #ddd;

  }  
  .dropdown-menu .dropdown-submenu > a::after, .dropdown-menu .dropdown-submenu > button::after {
    top:-10px !important;
  }

  /* Icons PE */
  .icons-pe {
    font-size: 22px;
  }