body{
  padding-top: 100px;
  color:black;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
}
.makeCenter{
  text-align:center;
  /*color:white;*/
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.nav,.navbar,.navbar-nav{
/*background-color: #3db166;*/
/*color:white;*/
}
.navbar-inverse .navbar-nav>li>a{
  color:white;
}
.navbar-inverse .navbar-nav>.active> a, 
.navbar-inverse .navbar-nav>.active> a:focus, 
.navbar-inverse .navbar-nav>.active> a:hover {
/*background-color:#1b2945;*/
  color:white;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: #1b2945;
}
.navbar-nav > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu a {
  background-color: #3db166;
  color:white;
}
.navbar-nav > li > .dropdown-menu a:focus,
.navbar-nav > li > .dropdown-menu a:hover {
  background-color: #1b2945;
  color:white;
}
.navbar-brand {
  padding: 0px;
  opacity:1;
}

.navbar-inverse {
  background-color: #275b2a;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.header .navbar-brand {
  display: flex;
  align-items: center;
}
.header .navbar-brand>img {
  padding: 7px 14px;
}
.input-group-addon{
  background-color: #ffffff;
}
.blue {
  color: #1b2945;
}
.well{
/*background-color: #3db166;*/
/*color: white;*/
}
.footer {
  margin-top: 10px;
  /*background-color: #f6f6f8;*/
}
#image-preview {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: #ecf0f1;
  border: 1px solid #ccc;
}
#image-preview input {
  line-height: 50px;
  font-size: 50px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #bdc3c7;
  color:white;
  width: 100px;
  height: 25px;
  font-size: 10px;
  line-height: 25px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.hidden {
  display:none;
}

.alert-message {
  color: red;
}

.alert-message p {
  margin: 0;
}

.footer-copyright {
	font-size: 12px;	
}
.footer-copyright a{
	color: #000;
	text-decoration: none;
}
/** Instructions Page */
.instructions-container {
	font-size: 16px;
  position: relative;
  opacity: 1;
}

.instructions-container .main-heading {
  text-align: center;
}

.name-and-designation {
	text-align: right;
}

.registration-instructions {
  fot-size: 16px;
  color: red;
  text-align: right;
}

.warning-message {
  color: red;
  font-size: 12px;
}

.for-male-students {
  color: #fff;
  background-color: #3d3d3e;
}

.for-female-students {
  color: #fff;
  background-color: #009445;
}

.for-male-students-label, .for-female-students-label {
  /*color: #fff;*/
  padding: 10px;
  /*text-align: center;*/
  font-size: 16px;
}

.footer .row{
    overflow: hidden; 
}

.footer [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}